{% extends 'layouts/base.html.twig' %}

{% block title %}Comparativo de ultimos resultados{% endblock %}

{% block body %}
    <div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
        <div class="uk-container uk-container-center">
            <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                <div class="uk-width-1-1 uk-row-first">
                    <div class="uk-panel">
                        <div class="uk-cover-background uk-position-relative head-wrap" style="height: 290px; background-image: url('{{ asset('images/head-bg.jpg') }}');">
                            <img class="uk-invisible" src="{{ asset('images/head-bg.jpg') }}" alt="" height="290" width="1920">
                            <div class="uk-position-cover uk-flex uk-flex-center head-title">
                                <h1>Comparativo de ultimos resultados</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="uk-container uk-container-center alt">
        <ul class="uk-breadcrumb">
            <li class="uk-active">
                <span>Comparativo de ultimos resultados</span>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">
                <table class="text-center">
                    <thead>
                    <tr>
                        <th colspan="5">Nuestros Pronosticos</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for game in calendars %}
                        {% set locals = gamesResultsRepository.percentageToWin(game.teamLocal.id, journey, 1) %}
                        {% set visitors = gamesResultsRepository.percentageToWin(game.teamVisitor.id, journey, 1) %}
                        {% set local = locals.percentage %}
                        {% set visitor = visitors.percentage %}
                        {% set local = local + 10 %}
                        {% if visitors.effiV >= 50 %}
                            {% set effiv = (visitor.effiv * 10) / 100 %}
                            {% set visitor = visitor + effiv %}
                        {% endif %}
                        {% set total = local + visitor %}
                        {% set perLocal = (local * 100) / total %}
                        {% set perVisitor = (visitor * 100) / total %}
                        {% set dif = perLocal - perVisitor %}
                        {% set tdif = dif|abs %}
                        {% if tdif == 0 %}
                            {% set again = 0 %}
                        {% else %}
                            {% set again = ( tdif * 100)/40 %}
                        {% endif %}
                        {% set again = (again + 100) - (again + again) %}
                        <tr>
                            <td width="100px">
                                <img src="{{ asset(game.teamLocal.logo, 'logos') }}" alt="">
                            </td>
                            <td>
                                {{ perLocal|number_format(2, '.', ',') }} %
                            </td>
                            <td>
                                VS
                                {% if tdif < 11 %}
                                    {{ again|number_format(2, '.', ',') }}% Probabilidad de Empate
                                {% endif %}
                            </td>
                            <td>
                                {{ perVisitor|number_format(2, '.', ',') }} %
                            </td>
                            <td width="100px">
                                <img src="{{ asset(game.teamVisitor.logo, 'logos') }}" alt="">
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-lg-6">
                <table class="text-center">
                    <thead>
                    <tr>
                        <th colspan="5">Resultados de la ultima jornada</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for calendar in calendars %}
                        {{ calendar.id }}
                        {% for games in gamesResultsRepository.findBy({'game': calendar}) %}
                            <tr>
                                <td width="50px">
                                    <img src="{{ asset(games.game.teamLocal.logo, 'logos') }}" alt="">
                                </td>
                                <td>
                                    <h1>{{ games.markerLocal }}</h1>
                                </td>
                                <td>
                                    <h1 class="text-info">VS</h1>
                                </td>
                                <td>
                                    <h1>{{ games.markerVisitor }}</h1>
                                </td>
                                <td width="50px">
                                    <img src="{{ asset(games.game.teamVisitor.logo, 'logos') }}" alt="">
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
