{% extends 'layouts/base-auth.html.twig' %}

{% block title %}Entrar{% endblock %}

{% block body %}
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <div class="website-logo-inside">
                            <a href="{{ path('app_index') }}">
                                <div class="">
                                    <img class="logo-size" src="{{ asset('images/logohappy.png') }}" alt="logohappy.png">
                                </div>
                            </a>
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3 text-white">
                                    Ya iniciaste sesión como {{ app.user.username }}, <br> ¿Deseas <a href="{{ path('app_logout') }}">cerrar sesión</a>?
                                </div>
                            {% endif %}
                        </div>
{#                        <h3>.</h3>#}
                        <p>Acceso a la herramienta más poderosa de estadisticas del deporte.</p>
                        <div class="page-links">
                            <a href="{{ path('app_login') }}" class="active">Entrar</a><a href="{{ path('app_register') }}">Registro</a>
                        </div>
                        <form method="post">
                            <input class="form-control" type="text" value="{{ last_username }}" name="username" id="inputUsername" placeholder="Usuario" required autofocus>
                            <input class="form-control" type="password" name="password" id="inputPassword" required placeholder="Contraseña">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Entrar</button> <a href="forget12.html">¿Contraseña olvidada?</a>
                            </div>
                        </form>
                        <div class="other-links">
                            <span>O inicie sesión con</span><a href="#">Facebook</a><a href="#">Google</a><a href="#">Linkedin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#                    <div class="text-center p-t-115">#}
{#						<span class="txt1">#}
{#							Don’t have an account?#}
{#						</span>#}

{#                        <a class="txt2" href="#">#}
{#                            Sign Up#}
{#                        </a>#}
{#                    </div>#}

{% endblock %}
