{% extends 'base.html.twig' %}

{% block title %}Edit GamesResults{% endblock %}

{% block body %}
    <h1>Edit GamesResults</h1>

    {{ include('games_results/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('games_results_index') }}">back to list</a>

    {{ include('games_results/_delete_form.html.twig') }}
{% endblock %}
