{% extends 'base.html.twig' %}

{% block title %}New GamesResults{% endblock %}

{% block body %}
    <h1>Create new GamesResults</h1>

    {{ include('games_results/_form.html.twig') }}

{% endblock %}
