{% extends 'layouts/base.html.twig' %}

{% block title %}Resultados de Juegos{% endblock %}

{% block body %}
    <div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
        <div class="uk-container uk-container-center">
            <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                <div class="uk-width-1-1 uk-row-first">
                    <div class="uk-panel">
                        <div class="uk-cover-background uk-position-relative head-wrap" style="height: 290px; background-image: url('{{ asset('images/head-bg.jpg') }}');">
                            <img class="uk-invisible" src="{{ asset('images/head-bg.jpg') }}" alt="" height="290" width="1920">
                            <div class="uk-position-cover uk-flex uk-flex-center head-title">
                                <h1>Tabla de posiciones Liga {{ league.getLeague }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="uk-container uk-container-center alt">
        <ul class="uk-breadcrumb">
            <li class="uk-active">
                <span>Tabla de Posiciones de la Liga {{ league.getLeague }}</span>
            </li>
        </ul>
    </div>
    <div class="container">
        <h1>{{ league.getLeague }}</h1>
    </div>
    <div id="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4">
                <h1>Tabla de posiciones</h1>
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <td>Equipo</td>
                        <td>JJ</td>
                        <td>JG</td>
                        <td>JE</td>
                        <td>JP</td>
                        <td>GF</td>
                        <td>GC</td>
                        <td>DG</td>
                        <td>PTS</td>
                    </tr>
                    </thead>
                    <tbody>
                    {#            {% for team in teams %}#}
                    {% for result in tablePosition|sort|reverse %}
                        <tr>
                            <td width="60px">
                                <img src="{{ asset(result.teamLogo, 'logos') }}" alt="">
                            </td>
                            <td>{{ result.games_played }}</td>
                            <td>{{ result.games_winner }}</td>
                            <td>{{ result.games_tied }}</td>
                            <td>{{ result.games_loser }}</td>
                            <td>{{ result.goals_favor }}</td>
                            <td>{{ result.goals_against }}</td>
                            <td>{{ result.goals_difference }}</td>
                            <td>{{ result.points }}</td>
                        </tr>
                    {% endfor %}
                    {#            {% endfor %}#}

                    </tbody>
                </table>
            </div>
            <div class="col-12 col-lg-4">
                <h1>Tabla de Goleo</h1>
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <td>Equipo</td>
                        <td>Jugador</td>
                        <td>Posición</td>
                        <td>Goles</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% set itemScoreBoard = 0 %}
                    {% for goal in scoreboard|sort|reverse %}
                        {% if itemScoreBoard < 5 %}
                            {% if goal.goales != 0 %}
                                {% set itemScoreBoard = itemScoreBoard +1 %}
                                <tr>
                                    <td width="60px">
                                        <img src="{{ asset(goal.teamLogo, 'logos') }}" alt="" width="80%">
                                    </td>
                                    <td>{{ goal.player }}</td>
                                    <td>{{ goal.position }}</td>
                                    <td>{{ goal.goales }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <h1>Tarjetas</h1>
                <table class="table table-responsive">
                    <thead>
                    <tr class="text-center">
                        <td>Equipo</td>
                        <td>Jugador</td>
                        <td>Tarjeta</td>
                        <td>Minuto</td>
                        <td>Partido</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% set itemCards = 0 %}
                    {% for card in cards|sort|reverse %}
                        {% if itemCards < 5 %}
                            <tr class="text-center">
                                <td width="60px">
{#                                    <img src="{{ asset(card.player.team.logo, 'logos') }}" alt="">#}
                                </td>
{#                                <td>{{ card.player.name }}</td>#}
                                <td width="30px">
                                    {% if card.red %}
                                        <img src="{{ asset('images/redCard.png') }}" alt="" width="50%">
                                    {% else %}
                                        <img src="{{ asset('images/yellowCard.png') }}" width="50%" alt="">
                                    {% endif %}
                                </td>
                                <td>{{ card.minute }}</td>
                                <td>{{ card.game.teamLocal }} VS {{ card.game.teamVisitor }} Jornada {{ card.game.journey }}</td>
                            </tr>
                        {% endif %}
                        {% set itemCards = itemCards + 1 %}
                    {% endfor %}
                    </tbody>
                </table>

                <h1>Lesionados</h1>
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <td>Equipo</td>
                        <td>Jugador</td>
                        <td>Posicion</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% set itemInjuries = 0 %}
                    {% for injurie in injuries %}
                        {% if itemInjuries < 5 %}
                            {% set itemInjuries = itemInjuries + 1 %}
                            <tr>
                                <td width="60px">
                                    <img src="{{ asset(injurie.player.team.logo, 'logos') }}" alt="">
                                </td>
                                <td>{{ injurie.player.name }}</td>
                                <td>{{ injurie.player.position.abbreviationSPA }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-lg-4">
                <h1>Tiros de Esquina</h1>
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <td>Equipo</td>
                        <td>Jugador</td>
                        <td>Posicion</td>
                        <td>Tiros de Esquina</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% set itemCorners = 0 %}
                    {% for corner in cornerKicks|sort|reverse %}
                        {% if itemCorners < 5 %}
                            {% if corner.corners != 0 %}
                                {% set itemCorners = itemCorners +1 %}
                                <tr>
                                    <td width="60px">
                                        <img src="{{ asset(corner.teamLogo, 'logos') }}" alt="" width="80%">
                                    </td>
                                    <td>{{ corner.player }}</td>
                                    <td>{{ corner.position }}</td>
                                    <td>{{ corner.corners }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <h1>Fuera de lugar</h1>
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <td>Equipo</td>
                        <td>Jugador</td>
                        <td>Posicion</td>
                        <td>Fueras de Lugar</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% set itemOffside = 0 %}
                    {% for oofside in offsides|sort|reverse %}
                        {% if itemOffside < 5 %}
                            {% if oofside.offsides != 0 %}
                                {% set itemOffside = itemOffside +1 %}
                                <tr>
                                    <td width="60px">
                                        <img src="{{ asset(oofside.teamLogo, 'logos') }}" alt="" width="80%">
                                    </td>
                                    <td>{{ oofside.player }}</td>
                                    <td>{{ oofside.position }}</td>
                                    <td>{{ oofside.offsides }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}
