<table class="table">
    <thead class="">
    <tr>
        {#                <th>Id</th>#}
        <th colspan="2">Equipo Local</th>
        <th class="" colspan="3">Marcador</th>
        <th colspan="2">Equipo Visitante</th>
        <th>Fecha</th>
        <th>Jornada</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for calendar in calendars %}
        {% for game_result in gamesResultsRepository.findBy({'game': calendar.id}) %}
            <tr>
                <td width="150px">{{ game_result.game.teamLocal }}</td>
                <td width="50px">
                    <img class="img-fluid" src="{{ asset(game_result.game.teamLocal.logo,'logos') }}" width="100%" alt="">
                </td>
                <td>{{ game_result.markerLocal }}</td>
                <td>vs</td>
                <td>{{ game_result.markerVisitor }}</td>
                <td width="50px">
                    <img class="img-fluid" src="{{ asset(game_result.game.teamVisitor.logo,'logos') }}" width="100%" alt="">
                </td>
                <td width="150px">{{ game_result.game.teamVisitor }}</td>
                <td>{{ game_result.game.date|date('F d, Y')|replace({
                        'January'  : 'Enero',
                        'February'  : 'Febrero',
                        'March'  : 'Marzo',
                        'April'  : 'Abril',
                        'May'  : 'Mayo',
                        'June'  : 'Junio',
                        'July'  : 'Julio',
                        'August'  : 'Agosto',
                        'September'  : 'Septiembre',
                        'October'  : 'Octubre',
                        'November'  : 'Noviembre',
                        'December' : 'Diciembre',
                    }) }} | {{ game_result.game.date|date('g:i a') }}</td>
                <td>{{ game_result.game.journey }}</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modal{{ calendar.id }}">
                        <i class="fa fa-eye"></i>
                        Ver más
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td width="150px">{{ calendar.teamLocal }}</td>
                <td width="50px">
                    <img class="img-fluid" src="{{ asset(calendar.teamLocal.logo,'logos') }}" width="100%" alt="">
                </td>
                <td class="text-center" colspan="3">Pendiente</td>
                <td width="50px">
                    <img class="img-fluid" src="{{ asset(calendar.teamVisitor.logo,'logos') }}" width="100%" alt="">
                </td>
                <td width="150px">{{ calendar.teamVisitor }}</td>
                <td>{{ calendar.date|date('F d, Y')|replace({
                        'January'  : 'Enero',
                        'February'  : 'Febrero',
                        'March'  : 'Marzo',
                        'April'  : 'Abril',
                        'May'  : 'Mayo',
                        'June'  : 'Junio',
                        'July'  : 'Julio',
                        'August'  : 'Agosto',
                        'September'  : 'Septiembre',
                        'October'  : 'Octubre',
                        'November'  : 'Noviembre',
                        'December' : 'Diciembre',
                    }) }} | {{ calendar.date|date('g:i a') }}</td>
                <td>{{ calendar.journey }}</td>

            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% for calendar in calendars %}
    {% for game_result in gamesResultsRepository.staticstisForGame(calendar.id) %}
        <!-- Modal -->
        <div class="modal fade" id="modal{{ calendar.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Estadisticas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                            <td class="text-center">
                                {{ game_result.teamLocal }}
                                <img src="{{ asset(game_result.teamLocalLogo, 'logos') }}" width="10%" alt="">
                            </td>
                            <td class="text-center">Equipos</td>
                            <td class="text-center">
                                <img src="{{ asset(game_result.teamVisitorLogo, 'logos') }}" width="10%" alt="">
                                {{ game_result.teamVisitor }}
                            </td>
                            </thead>
                            <tbody>
                            <tr class="text-center">
                                <td>{{ game_result.possessionLocal }}%</td>
                                <td>Posesión</td>
                                <td>{{ game_result.possessionVisitor }}%</td>
                            </tr>
                            <tr class="text-center">
                                <td>{{ game_result.assistsLocal }}</td>
                                <td>Assistencias</td>
                                <td>{{ game_result.assistsVisitor }}</td>
                            </tr>
                            <tr class="text-center">
                                <td>{{ game_result.faultsLocal }}</td>
                                <td>Faltas</td>
                                <td>{{ game_result.faultsVisitor }}</td>
                            </tr>
                            <tr class="text-center">
                                <td>{{ game_result.cardsYellowLocal }}</td>
                                <td>Tarjetas Amarillas</td>
                                <td>{{ game_result.cardsYellowVisitor }}</td>
                            </tr>
                            <tr class="text-center">
                                <td>{{ game_result.cardsRedLocal }}</td>
                                <td>Tarjetas Rojas</td>
                                <td>{{ game_result.cardsRedVisitor }}</td>
                            </tr>
                            <tr class="text-center">
                                <td>{{ game_result.offsidesLocal }}</td>
                                <td>Fuera de Lugar</td>
                                <td>{{ game_result.offsidesVisitor }}</td>
                            </tr>
                            <tr class="text-center">
                                <td>{{ game_result.cornersLocal }}</td>
                                <td>Tiros de Esquina</td>
                                <td>{{ game_result.cornersVisitor }}</td>
                            </tr>
                            <tr class="text-center">
                                <td>{{ game_result.savedLocal }}</td>
                                <td>Salvadas</td>
                                <td>{{ game_result.savedVisitor }}</td>
                            </tr>
                            <tr class="text-center">
                                <td>{{ game_result.shotLocal }} ({{ game_result.goalShotLocal }})</td>
                                <td>Tiros a Gol</td>
                                <td>{{ game_result.shotVisitor }} ({{ game_result.goalShotVisitor }})</td>
                            </tr>
                            <tr>
                                <td>
                                    {% for goles in golesDateRepository.findBy({'game': calendar.id, 'team': game_result.teamLocalId}, {'minute': 'ASC'}) %}
                                        {{ goles.player.name }} '{{ goles.minute }}
                                        {% if goles.observations != null %}
                                            ({{ goles.observations }})
                                        {% endif %}
                                        <br>
                                    {% else %}
                                    {% endfor %}
                                </td>
                                <td>Goles</td>
                                <td>
                                    {% for goles in golesDateRepository.findBy({'game': calendar.id, 'team': game_result.teamVisitorId}, {'minute': 'ASC'}) %}
                                        {{ goles.player.name }} '{{ goles.minute }}
                                        {% if goles.observations != null %}
                                            ({{ goles.observations }})
                                        {% endif %}
                                        <br>
                                    {% else %}
                                    {% endfor %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        {#                            <button type="button" class="btn btn-primary">Save changes</button>#}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}


