{% extends 'base.html.twig' %}

{% block title %}GamesResults{% endblock %}

{% block body %}
    <h1>GamesResults</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ games_result.id }}</td>
            </tr>
            <tr>
                <th>MarkerLocal</th>
                <td>{{ games_result.markerLocal }}</td>
            </tr>
            <tr>
                <th>MarkerVisitor</th>
                <td>{{ games_result.markerVisitor }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ games_result.deletedAt ? games_result.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ games_result.createdAt ? games_result.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ games_result.updatedAt ? games_result.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('games_results_index') }}">back to list</a>

    <a href="{{ path('games_results_edit', {'id': games_result.id}) }}">edit</a>

    {{ include('games_results/_delete_form.html.twig') }}
{% endblock %}
