{% extends 'layouts/base.html.twig' %}

{% block title %}Bienvenido a tu sitio mejor sitio de Estadisticas Deportivas{% endblock %}

{% block body %}
    <div class="tm-top-a-box tm-full-width  ">
        <div class="uk-container uk-container-center">
            <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

                <div class="uk-width-1-1">
                    <div class="uk-panel">
                        <div class="akslider-module ">
                            <div class="uk-slidenav-position" data-uk-slideshow="{height: 'auto', animation: 'swipe', duration: '500', autoplay: false, autoplayInterval: '7000', videoautoplay: true, videomute: true, kenburns: false}">
                                <ul class="uk-slideshow uk-overlay-active">
                                    <li aria-hidden="false" class="uk-height-viewport uk-active">
                                        <div style="background-image: url({{ asset('main-slider-img.jpg', 'images') }});" class="uk-cover-background uk-position-cover"></div><img style="width: 100%; height: auto; opacity: 0;" class="uk-invisible" src="{{ asset('main-slider-img.jpg', 'images') }}" alt="">
                                        <div class="uk-position-cover uk-flex-middle">
                                            <div class="uk-container uk-container-center uk-position-cover">
                                                <div class="va-promo-text uk-width-6-10 uk-push-4-10">
                                                    <h3>Liga <span>MLB</span></h3><br>
                                                    <a href="#" class="read-more">Proximos Eventos<i class="uk-icon-chevron-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li aria-hidden="true" class="uk-height-viewport">
                                        <div style="background-image: url({{ asset('images/main-slider-img1.jpg') }});" class="uk-cover-background uk-position-cover"></div><img style="width: 100%; height: auto; opacity: 0;" class="uk-invisible" src="{{ asset('images/main-slider-img1.jpg') }}" alt="">
                                        <div class="uk-position-cover uk-flex-middle">
                                            <div class="uk-container uk-container-center uk-position-cover">
                                                <div class="va-promo-text uk-width-6-10 uk-push-4-10">
                                                    <h3>Liga <span>Mx</span></h3><br>
                                                    <a href="#" class="read-more">Proximos Eventos<i class="uk-icon-chevron-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li aria-hidden="true" class="uk-height-viewport">
                                        <div style="background-image: url({{ asset('images/main-slider-img2.jpg') }});" class="uk-cover-background uk-position-cover"></div><img style="width: 100%; height: auto; opacity: 0;" class="uk-invisible" src="{{ asset('images/main-slider-img2.jpg') }}" alt="">
                                        <div class="uk-position-cover uk-flex-middle">
                                            <div class="uk-container uk-container-center uk-position-cover">
                                                <div class="va-promo-text uk-width-6-10 uk-push-4-10">
                                                    <h3>Liga <span>NBA</span></h3><br>
                                                    <a href="#" class="read-more">Proximos Eventos<i class="uk-icon-chevron-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li aria-hidden="true" class="uk-height-viewport">
                                        <div style="background-image: url({{ asset('images/main-slider-img3.jpg') }});" class="uk-cover-background uk-position-cover"></div><img style="width: 100%; height: auto; opacity: 0;" class="uk-invisible" src="{{ asset('images/main-slider-img3.jpg') }}" alt="">
                                        <div class="uk-position-cover uk-flex-middle">
                                            <div class="uk-container uk-container-center uk-position-cover">
                                                <div class="va-promo-text uk-width-6-10 uk-push-4-10">
                                                    <h3>Liga <span>NFL</span></h3><br>
                                                    <a href="#" class="read-more">Proximos Eventos<i class="uk-icon-chevron-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <a href="/" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                                <a href="/" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
                                <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-text-center">
                                    <li class="uk-active" data-uk-slideshow-item="0">
                                        <a href="/">0</a>
                                    </li>
                                    <li data-uk-slideshow-item="1">
                                        <a href="/">1</a>
                                    </li>
                                    <li data-uk-slideshow-item="2">
                                        <a href="/">2</a>
                                    </li>
                                    <li data-uk-slideshow-item="3">
                                        <a href="/">3</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="carousel right mb-3 text-center">
        <div class="indicator"></div>
        <div class="wrap">
            <ul>
                {% for game in gamesnext.calendarLeaguemx() %}
                    <li>
                        <a class="text-dark" href="{{ game.slug }}" target="_blank">
                            <h6><img class="img-polaroid" src="{{ asset(game.teamlocal.logo, 'logos') }}" width="20%"  alt="">{{ game.teamlocal.name }}</h6>
                            <h6>{{ game.date|date('F d, Y')|replace({
                                    'January'  : 'Enero',
                                    'February'  : 'Febrero',
                                    'March'  : 'Marzo',
                                    'April'  : 'Abril',
                                    'May'  : 'Mayo',
                                    'June'  : 'Junio',
                                    'July'  : 'Julio',
                                    'August'  : 'Agosto',
                                    'September'  : 'Septiembre',
                                    'October'  : 'Octubre',
                                    'November'  : 'Noviembre',
                                    'December' : 'Diciembre',
                                }) }} | {{ game.date|date('g:i a')}}</h6>
                            <h6><img class="img-polaroid" src="{{ asset(game.teamvisitor.logo, 'logos') }}" width="20%" alt=""> {{ game.teamvisitor.name }}</h6>
                        </a>
                        <a href="{{ game.slug }}" class="btn btn-lg text-info" target="_blank">
                            <i class="fas fa-gamepad"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="tm-top-b-box tm-full-width  ">
        <div class="uk-container uk-container-center">
            <section id="tm-top-b" class="tm-top-b uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

                <div class="uk-width-1-1">
                    <div class="uk-panel">
                        {% for result in resultlast %}
                            <div class="va-latest-wrap">
                                <div class="uk-container uk-container-center">
                                    <div class="va-latest-top">
                                        <h3>Ultimo <span>Resultado</span></h3>
                                        <div class="tournament">
                                            <address>
                                                <br><br>
                                            </address>
                                        </div>
                                        <div class="date">
                                            {{ result.date|date('F d, Y')|replace({
                                                'January'  : 'Enero',
                                                'February'  : 'Febrero',
                                                'March'  : 'Marzo',
                                                'April'  : 'Abril',
                                                'May'  : 'Mayo',
                                                'June'  : 'Junio',
                                                'July'  : 'Julio',
                                                'August'  : 'Agosto',
                                                'September'  : 'Septiembre',
                                                'October'  : 'Octubre',
                                                'November'  : 'Noviembre',
                                                'December' : 'Diciembre',
                                            }) }} | {{ result.date|date('g:i a') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="va-latest-middle uk-flex uk-flex-middle">
                                    <div class="uk-container uk-container-center">
                                        <div class="uk-grid uk-flex uk-flex-middle">
                                            <div class="uk-width-2-12 center">
                                                <img src="{{ asset(result.teamLocalLogo, 'logos') }}" class="img-polaroid" alt="" title="">
                                            </div>
                                            <div class="uk-width-3-12 name uk-vertical-align">
                                                <div class="wrap uk-vertical-align-middle">
                                                    {{ result.teamLocal }}
                                                </div>
                                            </div>
                                            <div class="uk-width-2-12 score">
                                                <div class="title">Marcador</div>
                                                <div class="table">
                                                    <div class="left">
                                                        {{ result.markerLocal }}
                                                    </div>
                                                    <div class="right">
                                                        {{ result.markerVisitor }}
                                                    </div>
                                                    <div class="uk-clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="uk-width-3-12 name alt uk-vertical-align">
                                                <div class="wrap uk-vertical-align-middle">
                                                    {{ result.teamVisitor }}
                                                </div>
                                            </div>
                                            <div class="uk-width-2-12 center">
                                                <img src="{{ asset(result.teamVisitorLogo, 'logos') }}" class="img-polaroid" alt="" title="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-container uk-container-center">
                                    <div class="va-latest-bottom">
                                        <div class="uk-grid uk-flex uk-flex-middle">
                                            <div class="uk-width-4-12 name alt uk-vertical-align">
                                                <div class="wrap uk-vertical-align-middle">
{#                                                    <h1>1.4</h1>#}
                                                </div>
                                                <br>
                                                <div class="wrap uk-vertical-align-middle">
{#                                                    Momio#}
                                                </div>
                                            </div>
                                            <div class="uk-width-4-12">
                                            </div>
                                            <div class="uk-width-4-12 name alt uk-vertical-align">
                                                <div class="wrap uk-vertical-align-middle">
{#                                                    <h1>3.2</h1>#}
                                                </div>
                                                <br>
                                                <div class="wrap uk-vertical-align-middle">
{#                                                    Momio#}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-grid">
                                            <div class="uk-width-1-1">
                                                <div class="btn-wrap uk-container-center">
                                                    <a class="read-more" href="{{ path('statistics_show_game', {'id': result.id}) }}">Ver más</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>

    <br>
    <div class="tm-top-e-box tm-full-width  va-main-next-match">
        <div class="uk-container uk-container-center">
            <section id="tm-top-e" class="tm-top-e uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

                <div class="uk-width-1-1">
                    <div class="uk-panel">
                        <div class="uk-container uk-container-center">
                            <div class="uk-grid uk-grid-collapse">
                                <div class="uk-width-medium-1-2 uk-width-small-1-1 va-single-next-match">
                                    <div class="va-main-next-wrap">
                                        <div class="main-next-match-title"><em>Siguente <span>Enfrentamiento</span></em>
                                        </div>
                                        <div class="match-list-single">
                                            {% for result in gamenext %}
                                                <div class="match-list-item">
                                                    <div class="count">

                                                        <div id="countdown4">
                                                            <div class="counter_container">
                                                            </div>
                                                        </div>

                                                        <div class="clearfix"></div>
{#                                                        {% set locals = gamesResultsRepository.percentageToWin(result.teamLocal.id, journey1, 1) %}#}
{#                                                        {% set visitors = gamesResultsRepository.percentageToWin(result.teamVisitor.id, journey1, 1) %}#}
{#                                                        {% set local = locals.percentage %}#}
{#                                                        {% set visitor = visitors.percentage %}#}
{#                                                        {% set local = local + 10 %}#}
{#                                                        {% if visitors.effiV >= 50 %}#}
{#                                                            {% set visitor = visitor + 10 %}#}
{#                                                        {% endif %}#}
{#                                                        {% set total = local + visitor %}#}
{#                                                        {% set perLocal = (local * 100) / total %}#}
{#                                                        {% set perVisitor = (visitor * 100) / total %}#}
{#                                                        {% set dif = perLocal - perVisitor %}#}
{#                                                        {% set tdif = dif|abs %}#}
{#                                                        {% if tdif == 0 %}#}
{#                                                            {% set again = 0 %}#}
{#                                                        {% else %}#}
{#                                                            {% set again = ( tdif * 100)/40 %}#}
{#                                                        {% endif %}#}
{#                                                        {% set again = (again + 100) - (again + again) %}#}
                                                    </div>
{#                                                    {% if tdif < 11 %}#}
{#                                                        <div class="date">#}
{#                                                            {{ again|number_format(2, '.', ',') }}% Probabilidad de Empate#}
{#                                                        </div>#}
{#                                                    {% endif %}#}
                                                    <div class="clear"></div>
                                                    <div class="logo">
                                                        <a href="match-single.html">
                                                            <img src="{{ asset(result.teamLocal.logo, 'logos') }}" class="img-polaroid" alt="" title="">
                                                        </a>
                                                    </div>
                                                    <div class="team-name">
{#                                                        {{ perLocal|number_format(2, '.', ',') }}%#}
                                                        {{ result.teamLocal.name }}
                                                    </div>
                                                    <div class="versus">VS</div>

                                                    <div class="team-name">
{#                                                        {{ perVisitor|number_format(2, '.', ',') }}%#}
                                                        {{ result.teamVisitor.name }}
                                                    </div>
                                                    <div class="logo">
                                                        <a href="match-single.html">
                                                            <img src="{{ asset(result.teamVisitor.logo, 'logos') }}" class="img-polaroid" alt="" title="">
                                                        </a>
                                                    </div>
                                                    <div class="clear"></div>
                                                    <div class="date">
                                                        {{ result.date|date('F d, Y')|replace({
                                                            'January'  : 'Enero',
                                                            'February'  : 'Febrero',
                                                            'March'  : 'Marzo',
                                                            'April'  : 'Abril',
                                                            'May'  : 'Mayo',
                                                            'June'  : 'Junio',
                                                            'July'  : 'Julio',
                                                            'August'  : 'Agosto',
                                                            'September'  : 'Septiembre',
                                                            'October'  : 'Octubre',
                                                            'November'  : 'Noviembre',
                                                            'December' : 'Diciembre',
                                                        }) }} | {{ result.date|date('g:i a') }}
                                                    </div>
                                                    <div class="clear"></div>
                                                    <div class="location">
                                                        <address>
                                                            {% if result.stadium != null %}
                                                                {{ result.stadium }}
                                                                {% else %}
                                                                    {{ result.teamLocal.stadium }}
                                                            {% endif %}
                                                            <br><br>
                                                        </address>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2 uk-width-small-1-1 va-list-next-match">
                                    <div class="match-list-wrap">
                                        {% for clashes in gamesnexts %}
{#                                            {% set locals = gamesResultsRepository.percentageToWin(clashes.teamLocal.id, journey1, 1) %}#}
{#                                            {% set visitors = gamesResultsRepository.percentageToWin(clashes.teamVisitor.id, journey1, 1) %}#}
{#                                            {% set local = locals.percentage %}#}
{#                                            {% set visitor = visitors.percentage %}#}
{#                                            {% set local = local + 10 %}#}
{#                                            {% if visitors.effiV >= 50 %}#}
{#                                                {% set effiv = (visitor.effiv * 10) / 100 %}#}
{#                                                {% set visitor = visitor + effiv %}#}
{#                                            {% endif %}#}
{#                                            {% set total = local + visitor %}#}
{#                                            {% set perLocal = (local * 100) / total %}#}
{#                                            {% set perVisitor = (visitor * 100) / total %}#}
{#                                            {% set dif = perLocal - perVisitor %}#}
{#                                            {% set tdif = dif|abs %}#}
{#                                            {% if tdif == 0 %}#}
{#                                                {% set again = 0 %}#}
{#                                            {% else %}#}
{#                                                {% set again = ( tdif * 100)/40 %}#}
{#                                            {% endif %}#}
{#                                            {% set again = (again + 100) - (again + again) %}#}
{#                                            {% if tdif < 11 %}#}
                                                <div class="text-center text-white">
{#                                                    {{ again|number_format(2, '.', ',') }}% Probabilidad de Empate#}
                                                </div>
{#                                            {% endif %}#}
                                            <div class="match-list-item alt">
                                                <div class="date">
                                                    {{ clashes.date|date('F d, Y')|replace({
                                                        'January'  : 'Ene',
                                                        'February'  : 'Feb',
                                                        'March'  : 'Mar',
                                                        'April'  : 'Abr',
                                                        'May'  : 'May',
                                                        'June'  : 'Jun',
                                                        'July'  : 'Jul',
                                                        'August'  : 'Ago',
                                                        'September'  : 'Sep',
                                                        'October'  : 'Oct',
                                                        'November'  : 'Nov',
                                                        'December' : 'Dic',
                                                    }) }} | {{ clashes.date|date('g:i a') }}</div>
                                                <div class="wrapper">
                                                    <div class="logo">
                                                        <a href="match-single.html">
                                                            <img src="{{ asset(clashes.teamLocal.logo, 'logos') }}" class="img-polaroid" alt="" title="">
                                                        </a>
                                                    </div>
                                                    <div class="team-name">{{ clashes.teamLocal.name }}</div>
                                                    <div class="versus"> {#  {{ perLocal|number_format(2, '.', ',') }} #} % VS {# {{ perVisitor|number_format(2, '.', ',') }}% #}</div>

                                                    <div class="team-name">{{ clashes.teamVisitor.name }}</div>
                                                    <div class="logo">
                                                        <a href="match-single.html">
                                                            <img src="{{ asset(clashes.teamVisitor.logo, 'logos') }}" class="img-polaroid" alt="Cambridgehire VS china (2015-11-29)" title="Cambridgehire VS china (2015-11-29)">
                                                        </a>
                                                    </div>
                                                </div>]
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for player in players %}
                            {% if player.photo != null %}
                                <img src="{{ asset(player.photo, 'faces_players') }}" alt="">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
