<!doctype html>
<html class="no-js" lang="es-mx">

<head>
  <meta property="og:image" content="https://ianlunn.github.io/Hover/hover.jpg" />
  <meta property="og:site_name" content="Estadisticas Deportivas"/>
  <meta property="og:title" content="El verdadero sitio de estadisticas deportivas" />
  <title>{%  block title %}{%  endblock %}</title>
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
  <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
  <link rel="stylesheet" href="{{ asset('css/main.css') }}">
  <link rel="stylesheet" href="{{ asset('css/carrusel.css') }}">
  <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
  <link href="{{ asset('css/hover.css') }}" rel="stylesheet" media="all">
  <link href="{{ asset('css/fontawesome.css') }}" rel="stylesheet" media="all">
  <link href="{{ asset('css/all.css') }}" rel="stylesheet" media="all">
  <link href="{{ asset('css/akslider.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/donate.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('css/theme.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('images/favicon.ico') }}" rel="shortcut icon" type="image/vnd.microsoft.icon">

  <meta name="theme-color" content="#fafafa">
  {% block stylesheet %}{% endblock %}
</head>

<body class="tm-isblog">

<!--<div class="preloader">
    <div class="loader"></div>
</div>-->


<div class="over-wrap">
  <div class="toolbar-wrap">
    <div class="uk-container uk-container-center">
      <div class="tm-toolbar uk-clearfix uk-hidden-small">
        <div class="uk-float-right">
          <div class="uk-panel">
            <div class="social-top">
              <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-youtube"></span></a>
              <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-instagram"></span></a>
              <a href="{{ path('app_login') }}"><span class="uk-icon-small uk-icon-hover uk-icon-user"></span></a>
              <a href="/admin"><i class="uk-icon-small uk-icon-hover fas fa-users-cog"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tm-menu-box">
    <div style="height: 70px;" class="uk-sticky-placeholder">
      <nav style="margin: 0px;" class="tm-navbar uk-navbar" data-uk-sticky="">
        <div class="uk-container uk-container-center">
          <a class="tm-logo uk-float-left" href="{{ path('app_index') }}">
            <img src="{{ asset('images/logo-img.png') }}" alt="logo" title="logo"> <span>Estadisticas<em> Deportivas</em></span>
          </a>
          <ul class="uk-navbar-nav uk-hidden-small">
            <li class="uk-parent {{  active == 'home' ? 'uk-active': '' }}" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false">
              <a href="{{ path('app_index') }}">
                Inicio
              </a>
              <!--<div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                  <div class="uk-grid uk-dropdown-grid">
                      <div class="uk-width-1-1">
                          <ul class="uk-nav uk-nav-navbar">
                              <li><a class="yellow-scheme" href="../yellow/index.html">Yellow Color Scheme</a>
                              </li>
                              <li><a class="blue-scheme" href="../blue/index.html">Blue Color Scheme</a>
                              </li>
                              <li><a class="red-scheme" href="../red/index.html">Red Color Scheme</a>
                              </li>
                              <li><a href="offline.html">Offline Page</a>
                              </li>
                              <li><a href="404.html">Error Page</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>-->
            </li>
            <li class="uk-parent {{  active == 'statistics' ? 'uk-active': '' }}" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false">
              <a href="{{ path('statistics_index') }}">Estadisticas</a>
            </li>
{#            <li class="uk-parent {{  active == 'league' ? 'uk-active': '' }}" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false">#}
{#              <a href="">#}
{#                Ligas#}
{#              </a>#}
{#              <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">#}
{#                <div class="uk-grid uk-dropdown-grid">#}
{#                  <div class="uk-width-1-1">#}
{#                    <ul class="uk-nav uk-nav-navbar">#}
{#                      <li>#}
{#                        <a href="">NFL</a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="">Liga Mx</a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="">Champions League</a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="">MLB</a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="">NBA</a>#}
{#                      </li>#}
{#                      <li>#}
{#                        <a href="">MLB</a>#}
{#                      </li>#}
{#                    </ul>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </li>#}
{#            <li class="uk-parent {{  active == 'forecasts' ? 'uk-active': '' }}" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false">#}
{#              <a href="{{ path('app_forecasts') }}">Pronosticos</a>#}
{#            </li>#}
            <li class="uk-parent {{  active == 'games_results' ? 'uk-active': '' }}" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false">
              <a href="{{ path('app_games_result') }}">Resultados</a>
            </li>
            <li class="uk-parent {{  active == 'position_table' ? 'uk-active': '' }}" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false">
              <a href="{{ path('position_table') }}">Tabla de Posiciones</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="uk-parent {{  active == 'comparative' ? 'uk-active': '' }}" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false">
                    <a href="{{ path('comparative_index') }}">Comparativo</a>
                </li>
            {% endif %}
{#            <li class="uk-parent {{  active == '' ? 'uk-active': '' }}" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false">#}
{#              <a href="">Blog</a>#}
{#            </li>#}
{#            <li class="uk-parent {{  active == '' ? 'uk-active': '' }}" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false">#}
{#              <a href="">Contacto</a>#}
{#            </li>#}
{#            {% if is_granted('ROLE_SUPER_ADMIN') %}#}
{#              <li class="uk-parent {{  active == 'journeys' ? 'uk-active': '' }}" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false">#}
{#                <a href="{{ path('journeys_league_m_x_new') }}">AJ LigaMX</a>#}
{#              </li>#}
{#              <li class="uk-parent {{  active == 'positions' ? 'uk-active': '' }}" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false">#}
{#                <a href="{{ path('league_m_x_new') }}">AP LigaMX</a>#}
{#              </li>#}
{#            {% endif %}#}
          </ul>
          <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
        </div>
      </nav>
    </div>
  </div>
  {% block body %}{% endblock %}
  <div class="bottom-wrapper">
    <div class="tm-bottom-f-box  ">
      <div class="uk-container uk-container-center">
        <section id="tm-bottom-f" class="tm-bottom-f uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

          <div class="uk-width-1-1">
            <div class="uk-panel">
              <div class="footer-logo">
                <a href="/"><img src="{{ asset('images/footer-logo-img.png') }}" alt=""><span>Estadisticas</span> Deportivas</a>
              </div>
              <div class="footer-socials">
                <div class="social-top">
                  <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-youtube"></span></a>
                  <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-instagram"></span></a>
                  <a href="/public/admin"><i class="fas fa-users-cog uk-icon-small uk-icon-hover"></i></a>
                  <a href="{{ path('app_login') }}"><span class="uk-icon-small uk-icon-hover uk-icon-user"></span></a>
                </div>
              </div>
              <div class="clear"></div>

              <p class="footer-about-text">
                Cras convallis feugiat felis eget venenatis. Sed leo tellus, luctus eget ante quis, rutrum dignissim enim. Morbi efficitur tellus non mauris tincidunt feugiat. Vestibulum quis nunc in nibh eleifend convallis. Vestibulum nec viverra dui. Suspendisse vel neque eros. Donec tincidunt tempus massa sed vehicula. Integer ullamcorper at elit eu commodo.
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="tm-bottom-g-box  ">
      <div class="uk-container uk-container-center">
        <section id="tm-bottom-g" class="tm-bottom-f uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

          <div class="uk-width-1-1 uk-width-large-1-2">
            <div class="uk-panel">
              <div class="match-list-wrap foot">
                <div id="carusel-7" class="uk-slidenav-position" data-uk-slideshow="{ height : 37, autoplay:true, animation:'scroll' }">
                  <div class="last-match-top">
                    <div class="last-match-title">Proximos Enfrentamientos</div>
                    <div class="footer-slider-btn">
                      <a href="/" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                      <a href="/" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <ul class="uk-slideshow">
                    {% for clashes in gamesnext.calendarLeaguemx() %}
                      {% set locals = gamesnext.percentageToWin(clashes.teamLocal.id, gamesnext.journey, 1) %}
                      {% set visitors = gamesnext.percentageToWin(clashes.teamVisitor.id, gamesnext.journey, 1) %}
                      {% set local = locals.percentage %}
                      {% set visitor = visitors.percentage %}
                      {% set local = local + 10 %}
                      {% if visitors.effiV >= 50 %}
                        {% set visitor = visitor + 10 %}
                      {% endif %}
                      {% set total = local + visitor %}
                      {% set perLocal = (local * 100) / total %}
                      {% set perVisitor = (visitor * 100) / total %}
                      <li class="" aria-hidden="true">
                        <div class="match-list-item alt foot">
                          <div class="wrapper">
                            <div class="logo">
                              <a href="match-single.html">
                                <img src="{{ asset(clashes.teamLocal.logo, 'logos') }}" class="img-polaroid" alt="" title="">
                              </a>
                            </div>
                            <div class="team-name">
                              {{ clashes.teamLocal.name }}
                              {{ perLocal|number_format(2, '.', ',') }}%
                            </div>
                            <div class="versus">VS</div>
                            <div class="team-name">
                              {{ perVisitor|number_format(2, '.', ',') }}%
                              {{ clashes.teamVisitor.name }}
                            </div>
                            <div class="logo">
                              <a href="match-single.html">
                                <img src="{{ asset(clashes.teamVisitor.logo, 'logos') }}" class="img-polaroid" alt="" title="">
                              </a>
                            </div>
                            <a class="read-more" href="{{ path('statistics_show_next_game', {'id': clashes.id}) }}">Ver más</a>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1 uk-width-large-1-2">
            <div  class="uk-panel">
              <div class="acymailing_module" id="acymailing_module_formAcymailing54111">
                <div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing54111">
                  <form id="formAcymailing54111" method="post" name="formAcymailing54111">
                    <div class="acymailing_module_form">
                      <div class="mail-title">
                        Boletines informativos</div>
                      <div class="acymailing_introtext">Suspendisse sodales, magna at dignissim cursus, velit ex porttitor eros.</div>
                      <div class="clear"></div>
                      <div class="space"></div>
                      <table class="acymailing_form">
                        <tbody>
                        <tr>
                          <td class="acyfield_email acy_requiredField">
                                                                <span class="mail-wrap">
								                                    <input id="user_email_formAcymailing54111" onfocus="if(this.value == 'Ingresa tu correo') this.value = '';" onblur="if(this.value=='') this.value='Enter your email';" class="inputbox" name="user[email]" style="width:80%" value="Enter your email" title="Enter your email" type="text">
                                                            </span>
                          </td>
                        </tr>
                        <tr>

                          <td class="acysubbuttons">
                                                                <span class="submit-wrap">
                                                                    <span class="submit-wrapper">
                                                                        <input class="button subbutton btn btn-primary" value="Subscribe" name="Submit" onclick="try{ return submitacymailingform('optin','formAcymailing54111'); }catch(err){alert('The form could not be submitted '+err);return false;}" type="submit">
                                                                    </span>
                                                                </span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <footer id="tm-footer" class="tm-footer">


      <div class="uk-panel">
        <div class="uk-container uk-container-center">
          <div class="uk-grid">
            <div class="uk-width-1-1">
              <div class="footer-wrap">
                <div class="foot-menu-wrap">
                  <ul class="nav menu">
                    <li class="item-165"><a href="">Ligas</a>
                    </li>
                    <li class="item-166"><a href="">Estadisticas</a>
                    </li>
                    <li class="item-167"><a href="">Picks</a>
                    </li>
                    <li class="item-168"><a href="">Blog</a>
                    </li>
                    <li class="item-169"><a href="">Noticias</a>
                    </li>
                  </ul>
                </div>
                <div class="copyrights">Copyright © 2019 <a href="/">Estadisticas Deportivas</a>. Todos los derechos reservados.</div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>

  <div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
      <ul class="uk-nav uk-nav-offcanvas">
        <li class="uk-parent uk-active"><a href="{{ path('app_index') }}">Inicio</a>
        </li>
        <li class="uk-parent"><a href="#">Estadisticas</a>
        </li>
        <li class="uk-parent"><a href="">Ligas</a>
          <ul class="uk-nav-sub">
            <li>
              <a href="">NFL</a>
            </li>
            <li>
              <a href="">Liga Mx</a>
            </li>
            <li>
              <a href="">Champions League</a>
            </li>
            <li>
              <a href="">MLB</a>
            </li>
            <li>
              <a href="">NBA</a>
            </li>
            <li>
              <a href="">MLB</a>
            </li>
          </ul>
        </li>
        <li><a href="">Picks</a>
        </li>
        <li><a href="">Noticias</a>
        </li>
        <li><a href="">Blog</a>
        </li>
        <li><a href="">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<script src="{{ asset('js/vendor/modernizr-3.8.0.min.js') }}"></script>
<script src="{{ asset('js/jquery-3.4.1.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('js/fontawesome.js') }}"></script>
<script src="{{ asset('js/all.js') }}"></script>
<script src="{{ asset('js/plugins.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
<script src="{{ asset('js/carrusel.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/uikit.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/SimpleCounter.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/components/grid.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/components/slider.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/components/slideshow.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/components/slideset.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/components/sticky.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/components/lightbox.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/isotope.pkgd.min.js') }}"></script>


<script type="text/javascript" src="{{ asset('js/theme.js') }}"></script>
<script type="text/javascript">
  new SimpleCounter("countdown4", 1447448400, {
    'continue': 0,
    format: '{D} {H} {M} {S}',
    lang: {
      d: {
        single: 'dia',
        plural: 'dias'
      }, //days
      h: {
        single: 'hr',
        plural: 'hrs'
      }, //hours
      m: {
        single: 'min',
        plural: 'min'
      }, //minutes
      s: {
        single: 'seg',
        plural: 'seg'
      } //seconds
    },
    formats: {
      full: "<span class='countdown_number' style='color:  '>{number} </span> <span class='countdown_word' style='color:  '>{word}</span> <span class='countdown_separator'>:</span>", //Format for full units representation
      shrt: "<span class='countdown_number' style='color:  '>{number} </span>" //Format for short unit representation
    }
  });
</script>
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
  {% block javascripts %}{% endblock %}
</body>
</html>
