<!DOCTYPE html>
<html lang="es_mx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ asset('images/favicon.ico') }}" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link rel="stylesheet" type="text/css" href="{{ asset('Login/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('Login/css/fontawesome-all.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('Login/css/iofrm-style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('Login/css/iofrm-theme12.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <!--===============================================================================================-->
        <script src="{{ asset('js/login/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('Login/js/popper.min.js') }}"></script>
        <script src="{{ asset('Login/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('Login/js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
