.carousel {
    display: block;
    -webkit-transform: translateZ(0);
    /*  for demo only */
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    width: 60%;
    height: 200px;
    min-width: 550px;
    margin: auto;
    /*position: fixed;*/
    z-index: 100;

    background: #fff;
    padding: 8px;
    margin-top: 3%;
    /*border-radius: 6px;*/
    /*box-shadow: 0 4px 10px #000;*/
    /********************/
    height: 200px;
    -webkit-overflow-scrolling: touch;
    /* for tablets */
}
.touch .carousel {
    overflow: auto;
}
.carousel:before, .carousel:after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 5px;
    font-size: 80px;
    line-height: 190px;
    font-family: arial;
    color: #555;
    font-weight: bold;
    pointer-events: none;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}
.carousel:before {
    content: '\2039';
    left: 0;
    text-align: left;
    text-indent: -20px;
    box-shadow: 50px 0 20px -20px #dadee0 inset;
}
.carousel:after {
    content: '\203A';
    right: 0;
    text-align: right;
    text-indent: 40px;
    box-shadow: -50px 0 20px -20px #dadee0 inset;
}
.carousel.right:after, .carousel.left:before {
    opacity: 1;
}
.carousel.right:after {
    right: 0;
    text-indent: 60px;
}
.carousel.left:before {
    left: 0;
    text-indent: -40px;
}
.carousel > a {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    color: #CCC;
    font-size: 1.5em;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.carousel > a:hover {
    color: #FFF;
}
.carousel > a.prev {
    left: -20px;
}
.carousel > a.next {
    right: -20px;
}
.carousel > .indicator {
    pointer-events: none;
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    background: #150fd8;
    height: 4px;
    border-radius: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.2s, bottom 0.2s;
    transition: opacity 0.2s, bottom 0.2s;
}
.carousel:hover > .indicator {
    opacity: 1;
    bottom: -10px;
}
.carousel > .wrap {
    overflow: hidden;
    border-radius: 5px;
}
.carousel > .wrap > ul {
    list-style: none;
    white-space: nowrap;
    width: 20%;
    height: 200px;
}
.carousel > .wrap > ul > li {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    /*margin: 0 20px -25px 5px;*/
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
}
.carousel > .wrap > ul > li:first-child {
    /*margin: 0 20px -25px 5px;*/
}
.carousel > .wrap > ul > li > img {
    *display: block;
    *height: 100%;
    *margin: auto;
    vertical-align: bottom;
    position: relative;
    z-index: 1;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
.carousel > .wrap > ul > li > p {
    display: block;
    *height: 100%;
    color: #ffffff;
    margin: auto;
    vertical-align: bottom;
    position: relative;
    z-index: 1;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}