$carouselHeight: 200px;
$padding: 8px;
$indicatorColor: #d82b6a;
$bodyBG: #292b2c;
$bgColor: lighten($bodyBG, 16);

body {
  background: $bodyBG;
}

.carousel {
  display: block;
  position: absolute;
  -webkit-transform: translateZ(0);
  /*  for demo only */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 55%;
  height: $carouselHeight;
  min-width: 550px;
  margin: auto;
  font-size: 0;
  background: $bgColor;
  padding: $padding;
  border-radius: 6px;
  box-shadow: 0 4px 10px #000;
  /********************/

  height: $carouselHeight;
  -webkit-overflow-scrolling: touch;

  .touch & {
    overflow: auto;
  } /* for tablets */

  &:before,
  &:after {
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 50px;
    font-size: 80px;
    line-height: $carouselHeight - 10;
    font-family: arial;
    color: #555;
    font-weight: bold;
    pointer-events: none;
    transition: 0.2s ease-out;
  }
  &:before {
    content: "\2039";
    left: 0;
    text-align: left;
    text-indent: -20px;
    box-shadow: 50px 0 20px -20px $bodyBG inset;
  }
  &:after {
    content: "\203A";
    right: 0;
    text-align: right;
    text-indent: 40px;
    box-shadow: -50px 0 20px -20px $bodyBG inset;
  }

  &.right:after,
  &.left:before {
    opacity: 1;
  }

  &.right {
    &:after {
      right: 0;
      text-indent: 60px;
    }
  }
  &.left {
    &:before {
      left: 0;
      text-indent: -40px;
    }
  }

  > a {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    color: #ccc;
    font-size: 1.5em;
    transition: 0.1s;
    &:hover {
      color: #fff;
    }
    &.prev {
      left: -20px;
    }
    &.next {
      right: -20px;
    }
  }
  > .indicator {
    pointer-events: none;
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    background: $indicatorColor;
    height: 4px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.2s, bottom 0.2s;
  }

  &:hover {
    > .indicator {
      opacity: 1;
      bottom: -10px;
    }
  }

  > .wrap {
    overflow: hidden;
    border-radius: 5px;
    > ul {
      list-style: none;
      white-space: nowrap;
      height: $carouselHeight;
      > li {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        margin: 0 0 0 5px;
        position: relative;
        overflow: hidden;
        transition: 0.25s ease-out;
        &:first-child {
          margin: 0;
        }
        > img {
          display: block;
          height: 100%;
          margin: auto;
          vertical-align: bottom;
          position: relative;
          z-index: 1;
          transition: 1s ease;
        }
        //&:hover img{ transform:scale(1.1); }
      }
    }
  }
}