{% extends 'layouts/base.html.twig' %}

{% block title %}Captura de jornadas de la liga MX{% endblock %}

{% block body %}
    <div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
        <div class="uk-container uk-container-center">
            <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                <div class="uk-width-1-1 uk-row-first">
                    <div class="uk-panel">
                        <div class="uk-cover-background uk-position-relative head-wrap" style="height: 290px; background-image: url('{{ asset('images/head-bg.jpg') }}');">
                            <img class="uk-invisible" src="{{ asset('images/head-bg.jpg') }}" alt="" height="290" width="1920">
                            <div class="uk-position-cover uk-flex uk-flex-center head-title">
                                <h1>Actualizar Liga MX</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="uk-container uk-container-center alt">
        <ul class="uk-breadcrumb">
            <li>
                <a href="">Guardatos</a>
            </li>
            <li class="uk-active">
                <span>Actualizar las jornadas</span>
            </li>
        </ul>
    </div>
    <div class="tm-top-b-box tm-full-width  ">
        <div class="uk-container uk-container-center">
            <section id="tm-top-b" class="tm-top-b uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                <div class="uk-container uk-container-center">
                    <div class="va-latest-bottom">
                        <div class="uk-grid">
                            <div class="uk-width-1-1">
                                <div class="btn-wrap uk-container-center">
                                    <div id="load"></div>
                                    <button type="submit" id="btn-upload-data" class="read-more">
                                        <i class="fa "></i>
                                        Actualizar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="tm-top-b-box tm-full-width  ">
        <div class="uk-container uk-container-center">
            <section id="tm-top-b" class="tm-top-b uk-grid" >
                <div class="uk-container uk-container-center">
                    {{ journey }}
                    {{ table|convert_encoding('UTF-8', 'ISO-8859-1')|raw }}
                </div>
            </section>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {#</table>65</div><footer><a name="&lpos=soccer:teamclubhouse:standings:full"#}
    <script>
        $('#btn-upload-data').click(function () {
            console.log('kepler');
            var result = $('#load');
            {#result.html('<img src="{{ asset('images/cargando.gif') }}"/>');#}
            var rows = [];
            $('#jornada{{ journey }} tbody tr').each(function () {
                var number = {{ journey }};
                var teamLocal = $(this).find('td').eq(0).text().substr(4);
                var markerLocal = $(this).find('td').eq(1).text().substr(0,1);
                var markerVisitor = $(this).find('td').eq(1).text().substr(2,1);
                var teamVisitor = $(this).find('td').eq(2).text().substr(1);

                var pos = teamVisitor.indexOf("\n");
                teamVisitor = teamVisitor.slice(24, pos);
                teamVisitor = teamVisitor.replace('Chivas', 'Guadalajara');
                teamVisitor = teamVisitor.replace('Monarcas Morelia', 'Morelia');
                teamVisitor = teamVisitor.replace('Pumas UNAM', 'Pumas');
                teamVisitor = teamVisitor.replace('Atlético San Luis', 'San Luis');
                teamVisitor = teamVisitor.replace('FC Juárez', 'Juárez');
                teamVisitor = teamVisitor.replace('Club Tijuana', 'Tijuana');
                teamVisitor = teamVisitor.replace('Santos Laguna', 'Santos');
                teamLocal = teamLocal.slice(96, -1);
                var posl = teamLocal.indexOf("\n");
                teamLocal = teamLocal.slice(0, posl);
                teamLocal = teamLocal.replace('Chivas', 'Guadalajara');
                teamLocal = teamLocal.replace('Monarcas Morelia', 'Morelia');
                teamLocal = teamLocal.replace('Pumas UNAM', 'Pumas');
                teamLocal = teamLocal.replace('Atlético San Luis', 'San Luis');
                teamLocal = teamLocal.replace('FC Juárez', 'Juárez');
                teamLocal = teamLocal.replace('Club Tijuana', 'Tijuana');
                teamLocal = teamLocal.replace('Santos Laguna', 'Santos');
                // console.log(posteamLocal);
                // console.log(teamVisitor);

                var row = {
                    number,
                    teamLocal,
                    markerLocal,
                    markerVisitor,
                    teamVisitor,
                };
                rows.push(row);
            });
            console.log(rows);
            $.ajax({
                type: 'POST',
                url: '/public/statistics/insert',
                data: {array: JSON.stringify(rows)},
                success: function(data){
                    console.log(data);
                },
                error : function(errors) {
                    console.log(errors);
                }
            });
        });
    </script>
{% endblock %}
