{% extends 'layouts/base.html.twig' %}

{% block title %}Estadisticas de la {{ leagueName }}{% endblock %}

{% block body %}
    <div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
        <div class="uk-container uk-container-center">
            <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                <div class="uk-width-1-1 uk-row-first">
                    <div class="uk-panel">
                        <div class="uk-cover-background uk-position-relative head-wrap" style="height: 290px; background-image: url('{{ asset('images/head-bg.jpg') }}');">
                            <img class="uk-invisible" src="{{ asset('images/head-bg.jpg') }}" alt="" height="290" width="1920">
                            <div class="uk-position-cover uk-flex uk-flex-center head-title">
                                <h1>Estadisticas de la {{ leagueName}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="uk-container uk-container-center alt">
        <ul class="uk-breadcrumb">
            <li class="uk-active">
                <span>Estadisticas de la {{ leagueName }}</span>
            </li>
        </ul>
    </div>
    <table>
        <thead>
        <tr>
            <th>Equipo</th>
            <th></th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams|sort %}
                <tr>
                    <td>{{ team.name }}</td>
                    <td>
                        <img src="{{ asset(team.logo,'logos') }}"  width="10%" alt="">
                    </td>
                    <td>
                        <a href="{{ path('statistics_show', {'id': team.id}) }}" class="btn btn-outline-info">
                            <i class="fa fa-eye"></i>
                            ver más
                        </a>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
