{% extends 'layouts/base.html.twig' %}

{% block title %}{{ calendars }}{% endblock %}

{% block body %}
    <div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
        <div class="uk-container uk-container-center">
            <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                <div class="uk-width-1-1 uk-row-first">
                    <div class="uk-panel">
                        <div class="uk-cover-background uk-position-relative head-wrap" style="height: 290px; background-image: url('{{ asset('images/head-bg.jpg') }}');">
                            <img class="uk-invisible" src="{{ asset('images/head-bg.jpg') }}" alt="" height="290" width="1920">
                            <div class="uk-position-cover uk-flex uk-flex-center head-title">
                                <h1>
                                    {{ calendars }}
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="uk-container uk-container-center alt">
        <ul class="uk-breadcrumb">
            <li>
                <a href="{{ path('statistics_index') }}">Estadisticas</a>
            </li>
            <li class="uk-active">
                <span>
                    {{ calendars }}
                </span>
            </li>
        </ul>
    </div>
    {% set locals = gamesResultsRepository.percentageToWin(calendars.teamLocal.id, journey, 1) %}
    {% set visitors = gamesResultsRepository.percentageToWin(calendars.teamVisitor.id, journey, 1) %}
    {% set statisticsTeamLocal = gamesResultsRepository.statisticsForTeam(calendars.teamLocal.id, journey, 1) %}
    {% set statisticsTeamVisitor = gamesResultsRepository.statisticsForTeam(calendars.teamVisitor.id, journey, 1) %}
    {% set local = locals.percentage %}
    {% set visitor = visitors.percentage %}
    {% set local = local + 10 %}
    {% if visitors.effiV >= 50 %}
        {% set visitor = visitor + 10 %}
    {% endif %}
    {% set total = local + visitor %}
    {% set perLocal = (local * 100) / total %}
    {% set perVisitor = (visitor * 100) / total %}
    {% set dif = perLocal - perVisitor %}
    {% set tdif = dif|abs %}
    {% if tdif == 0 %}
        {% set again = 0 %}
        {% else %}
            {% set again = ( tdif * 100)/40 %}
    {% endif %}
    {% set again = (again + 100) - (again + again) %}
    <div class="container text-center border mb-5 py-5">
        <div class="row">
            <div class="col-12">
                <h1>{{ calendars.tournament.name }} {{ calendars.year }} Jornada {{ calendars.journey }}</h1>
            </div>
        </div>
        <div class="row">
            {% if tdif < 21 %}
                <div class="col-12 text-center text-back">
                    {{ again|number_format(2, '.', ',') }}% Probabilidad de Empate
                </div>
            {% endif %}
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-3">
                <h1>
                    <img src="{{ asset(calendars.teamLocal.logo, 'logos') }}" width="50%" alt=""><br>
                    {{ calendars.teamLocal }}
                </h1>
            </div>
            <div class="col-2">
                <h1>
                    {{ perLocal|number_format(2, '.', ',') }}%
                </h1>
            </div>
            <div class="col-2">
                <h1>
                    VS
                </h1>
            </div>
            <div class="col-2">
                <h1>
                    {{ perVisitor|number_format(2, '.', ',') }}%
                </h1>
            </div>
            <div class="col-3">
                <h1>
                    <img src="{{ asset(calendars.teamVisitor.logo, 'logos') }}" width="50%" alt=""><br>
                    {{ calendars.teamVisitor }}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1>Promedio de Goles Por Partido</h1>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-3">
                <h1>
                </h1>
            </div>
            <div class="col-2">
                <h1>
                    {{ statisticsTeamLocal.averageGoalsGame|number_format(2, '.', ',') }}
                </h1>
            </div>
            <div class="col-2">
                <h1>
                    Anotados
                </h1>
            </div>
            <div class="col-2">
                <h1>
                    {{ statisticsTeamVisitor.averageGoalsGame|number_format(2, '.', ',') }}
                </h1>
            </div>
            <div class="col-3">
                <h1>
                </h1>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-3">
                <h1>
                </h1>
            </div>
            <div class="col-2">
                <h1>
                    {{ statisticsTeamLocal.averageGoalsGameR|number_format(2, '.', ',') }}
                </h1>
            </div>
            <div class="col-2">
                <h1>
                    Recibidos
                </h1>
            </div>
            <div class="col-2">
                <h1>
                    {{ statisticsTeamVisitor.averageGoalsGameR|number_format(2, '.', ',') }}
                </h1>
            </div>
            <div class="col-3">
                <h1>
                </h1>
            </div>
        </div>
        {% set pGoal = (((statisticsTeamLocal.averageGoalsGame + statisticsTeamVisitor.averageGoalsGame) / 2 ) + ((statisticsTeamLocal.averageGoalsGame + statisticsTeamVisitor.averageGoalsGame) / 2) ) / 2 %}
        <div class="row">
            <div class="col-12">
                <h1>Promedio de Goles En el Partido</h1>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-3">
                <h1>
                </h1>
            </div>
            <div class="col-2">
                <h1>
                </h1>
            </div>
            <div class="col-2">
                <h1>
                    {{ pGoal|number_format(2, '.', ',') }}
                </h1>
            </div>
            <div class="col-2">
                <h1>
                </h1>
            </div>
            <div class="col-3">
                <h1>
                </h1>
            </div>
        </div>
    </div>
    {% for back_result in statistics %}
    <div class="container text-center border mb-5 py-5">
        <div class="row">
            <div class="col-12">
                <h1>{{ back_result.tournament }} {{ back_result.year }} Jornada {{ back_result.journey }}</h1>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-3 text-center">
                <h1>
                    <img src="{{ asset(back_result.teamLocalLogo,'logos') }}" width="50%" alt=""><br>
                    {{ back_result.teamLocal }}
                </h1>
            </div>
            <div class="col-2">
                <h1>
                    {{ back_result.markerLocal }}
                </h1>
            </div>
            <div class="col-2"><h1>VS</h1></div>
            <div class="col-2">
                <h1>
                    {{ back_result.markerVisitor }}
                </h1>
            </div>
            <div class="col-3">
                <h1>
                    <img src="{{ asset(back_result.teamVisitorLogo,'logos') }}" width="50%" alt=""><br>
                    {{ back_result.teamVisitor }}
                </h1>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
