{% extends 'layouts/base.html.twig' %}

{% block title %}Estadisticas de la {{ team.name }}{% endblock %}

{% block body %}
    <div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
        <div class="uk-container uk-container-center">
            <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                <div class="uk-width-1-1 uk-row-first">
                    <div class="uk-panel">
                        <div class="uk-cover-background uk-position-relative head-wrap" style="height: 290px; background-image: url('{{ asset('images/head-bg.jpg') }}');">
                            <img class="uk-invisible" src="{{ asset('images/head-bg.jpg') }}" alt="" height="290" width="1920">
                            <div class="uk-position-cover uk-flex uk-flex-center head-title">
                                <h1>Estadisticas de la {{ team.name }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="uk-container uk-container-center alt">
        <ul class="uk-breadcrumb">
            <li>
                <a href="{{ path('statistics_index') }}">Estadisticas</a>
            </li>
            <li class="uk-active">
                <span>Estadisticas de la {{ team.name }}</span>
            </li>
        </ul>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Equipo</th>
                <td>{{ team.name }}</td>
                <td>
                    <img src="{{ asset(team.logo, 'logos') }}" width="10%" alt="">
                </td>
            </tr>
            <tr>
                <th>Promedio de Goles anotados</th>
                <td>{{ statistics.averageGoalsGame|number_format(2, '.', ',') }}, por juego</td>
            </tr>
            <tr>
                <th>Promedio de Goles anotados como Local</th>
                <td>{{ statistics.pgoalsLocal|number_format(2, '.', ',') }}, por juego</td>
            </tr>
            <tr>
                <th>Promedio de Goles anotados como Visitante</th>
                <td>{{ statistics.pgoalsVisitor|number_format(2, '.', ',') }}, por juego</td>
            </tr>
            <tr>
                <th>Promedio de Goles recibidos</th>
                <td>{{ statistics.averageGoalsGameR|number_format(2, '.', ',') }}, por juego</td>
            </tr>
            <tr>
                <th>Promedio de Goles recibidos como local</th>
                <td>{{ statistics.pgoalsLocalR|number_format(2, '.', ',') }}, por juego</td>
            </tr>
            <tr>
                <th>Promedio de Goles recibidos como visitante</th>
                <td>{{ statistics.pgoalsVisitorR|number_format(2, '.', ',') }}, por juego</td>
            </tr>
            <tr>
                <th>Juegos Ganados en el primer tiempo</th>
                <td>{{ statistics.gamesWin1 }}</td>
            </tr>
            <tr>
                <th>Juegos Ganados en el segundo tiempo</th>
                <td>{{ statistics.gamesWin2 }}</td>
            </tr>
            <tr>
                <th>Juegos Ganados en el primer tiempo como local</th>
                <td>{{ statistics.gamesWin1L }}</td>
            </tr>
            <tr>
                <th>Juegos Ganados en el segundo tiempo como local</th>
                <td>{{ statistics.gamesWin2L }}</td>
            </tr>
            <tr>
                <th>Juegos Ganados en el primer tiempo como visitante</th>
                <td>{{ statistics.gamesWin1V }}</td>
            </tr>
            <tr>
                <th>Juegos Ganados en el segundo tiempo como visitante</th>
                <td>{{ statistics.gamesWin2V }}</td>
            </tr>

{#            <tr>#}
{#                <th>Porcentaje de Goles</th>#}
{#                <td>{{ statistics.percentageGoals|number_format(2, '.', ',') }}%</td>#}
{#            </tr>#}
            <tr>
                <th>Tiempo de anotacion</th>
                <td>Cada {{ statistics.timeGoales|number_format(0, '.', ',') }} minutos</td>
            </tr>
            <tr>
                <th>Juegos Ganados</th>
                <td>{{ statistics.gamesWinner }}</td>
            </tr>
            <tr>
                <th>Juegos Perdidos</th>
                <td>{{ statistics.gamesLoser }}</td>
            </tr>
            <tr>
                <th>Juegos Empatados</th>
                <td>{{ statistics.gamesAgain }}</td>
            </tr>
            <tr>
                <th>Juegos Ganados como local</th>
                <td>{{ statistics.gamesWinnerLocal }}</td>
            </tr>
            <tr>
                <th>Juegos Ganados como visitante</th>
                <td>{{ statistics.gamesWinnerVisitor }}</td>
            </tr>
            <tr>
                <th>Juegos Perdidos como local</th>
                <td>{{ statistics.gamesLoserLocal }}</td>
            </tr>
            <tr>
                <th>Juegos Perdidos como visitante</th>
                <td>{{ statistics.gamesLoserVisitor }}</td>
            </tr>
            <tr>
                <th>Juegos Empatados como local</th>
                <td>{{ statistics.gamesAgainLocal }}</td>
            </tr>
            <tr>
                <th>Juegos Empatados como visitante</th>
                <td>{{ statistics.gamesAgainVisitor }}</td>
            </tr>
            <tr>
                <th>Porcentaje  de Juegos Ganados </th>
                <td>{{ statistics.percentageGamesWinners|number_format(2, '.', ',') }}%</td>
            </tr>
            <tr>
                <th>Porcentaje  de Juegos Perdidos </th>
                <td>{{ statistics.percentageGamesLosers|number_format(2, '.', ',') }}%</td>
            </tr>
            <tr>
                <th>Porcentaje  de Juegos Empatados </th>
                <td>{{ statistics.percentageGamesAgains|number_format(2, '.', ',') }}%</td>
            </tr>
            <tr>
                <th>Porcentaje de Juegos Ganados como Local</th>
                <td>{{ statistics.percentageWinnerLocal|number_format(2, '.', ',') }}%</td>
            </tr>
            <tr>
                <th>Porcentaje de Juegos Ganados como Visitante</th>
                <td>{{ statistics.percentageWinnerVisitor|number_format(2, '.', ',') }}%</td>
            </tr>
            <tr>
                <th>Porcentaje de Juegos Perdidos como Local</th>
                <td>{{ statistics.percentageLoserLocal|number_format(2, '.', ',') }}%</td>
            </tr>
            <tr>
                <th>Porcentaje de Juegos Perdidos como Visitante</th>
                <td>{{ statistics.percentageLoserVisitor|number_format(2, '.', ',') }}%</td>
            </tr>
            <tr>
                <th>Porcentaje de Juegos Empatados como Local</th>
                <td>{{ statistics.percentageAgainLocal|number_format(2, '.', ',') }}%</td>
            </tr>
            <tr>
                <th>Porcentaje de Juegos Empatados como Visitante</th>
                <td>{{ statistics.percentageAgainVisitor|number_format(2, '.', ',') }}%</td>
            </tr>
            <tr>
                <th>Eficiencia como Local</th>
                <td>{{ statistics.percentageefficencyLocal|number_format(2, '.', ',') }}%</td>
            </tr>
            <tr>
                <th>Eficiencia como Visitante</th>
                <td>{{ statistics.percentageefficencyVisitor|number_format(2, '.', ',') }}%</td>
            </tr>
            <tr>
                <th>Porcentanje total del Equipo</th>
                <td>{{ statistics.total|number_format(2, '.', ',') }}%</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
