{% extends 'layouts/base.html.twig' %}

{% block title %}Estadisticas del
    {% for result in statistics %}
        {{ result.game }}
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
        <div class="uk-container uk-container-center">
            <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                <div class="uk-width-1-1 uk-row-first">
                    <div class="uk-panel">
                        <div class="uk-cover-background uk-position-relative head-wrap" style="height: 290px; background-image: url('{{ asset('images/head-bg.jpg') }}');">
                            <img class="uk-invisible" src="{{ asset('images/head-bg.jpg') }}" alt="" height="290" width="1920">
                            <div class="uk-position-cover uk-flex uk-flex-center head-title">
                                <h1>
                                    Estadisticas del
                                    {% for result in statistics %}
                                        {{ result.game }}
                                    {% endfor %}
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="uk-container uk-container-center alt">
        <ul class="uk-breadcrumb">
            <li>
                <a href="{{ path('statistics_index') }}">Estadisticas</a>
            </li>
            <li class="uk-active">
                <span>
                    Estadisticas del
                    {% for result in statistics %}
                        {{ result.game }}
                    {% endfor %}
                </span>
            </li>
        </ul>
    </div>
    <table class="table">
        <thead>
        {% for game_result in statistics %}
        <td class="text-center">
            {{ game_result.teamLocal }}
            <img src="{{ asset(game_result.teamLocalLogo, 'logos') }}" width="10%" alt="">
        </td>
        <td class="text-center">Equipos</td>
        <td class="text-center">
            <img src="{{ asset(game_result.teamVisitorLogo, 'logos') }}" width="10%" alt="">
            {{ game_result.teamVisitor }}

        </td>
        </thead>
        <tbody>
        <tr class="text-center">
            <td>{{ game_result.possessionLocal }}%</td>
            <td>Posesión</td>
            <td>{{ game_result.possessionVisitor }}%</td>
        </tr>
        <tr class="text-center">
            <td>{{ game_result.assistsLocal }}</td>
            <td>Assistencias</td>
            <td>{{ game_result.assistsVisitor }}</td>
        </tr>
        <tr class="text-center">
            <td>{{ game_result.faultsLocal }}</td>
            <td>Faltas</td>
            <td>{{ game_result.faultsVisitor }}</td>
        </tr>
        <tr class="text-center">
            <td>{{ game_result.cardsYellowLocal }}</td>
            <td>Tarjetas Amarillas</td>
            <td>{{ game_result.cardsYellowVisitor }}</td>
        </tr>
        <tr class="text-center">
            <td>{{ game_result.cardsRedLocal }}</td>
            <td>Tarjetas Rojas</td>
            <td>{{ game_result.cardsRedVisitor }}</td>
        </tr>
        <tr class="text-center">
            <td>{{ game_result.offsidesLocal }}</td>
            <td>Fuera de Lugar</td>
            <td>{{ game_result.offsidesVisitor }}</td>
        </tr>
        <tr class="text-center">
            <td>{{ game_result.cornersLocal }}</td>
            <td>Tiros de Esquina</td>
            <td>{{ game_result.cornersVisitor }}</td>
        </tr>
        <tr class="text-center">
            <td>{{ game_result.savedLocal }}</td>
            <td>Salvadas</td>
            <td>{{ game_result.savedVisitor }}</td>
        </tr>
        <tr class="text-center">
            <td>{{ game_result.shotLocal }} ({{ game_result.goalShotLocal }})</td>
            <td>Tiros a Gol</td>
            <td>{{ game_result.shotVisitor }} ({{ game_result.goalShotVisitor }})</td>
        </tr>
        <tr class="text-center">
            <td>
                {% for goles in golesDateRepository.findBy({'game': game_result.id, 'team': game_result.teamLocalId}, {'minute': 'ASC'}) %}
                    {{ goles.player.name }} '{{ goles.minute }}
                    {% if goles.observations != null %}
                        ({{ goles.observations }})
                    {% endif %}
                    <br>
                {% else %}
                {% endfor %}
            </td>
            <td>Goles</td>
            <td>
                {% for goles in golesDateRepository.findBy({'game': game_result.id, 'team': game_result.teamVisitorId}, {'minute': 'ASC'}) %}
                    {{ goles.player.name }} '{{ goles.minute }}
                    {% if goles.observations != null %}
                        ({{ goles.observations }})
                    {% endif %}
                    <br>
                {% else %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
