{% extends 'layouts/base.html.twig' %}

{% block title %}Pronosticos{% endblock %}
{% block stylesheet %}
    <style media="screen" type="text/css">
        /*border de la barra de progreso*/
        .progressTable
        {
            border: solid 1px #e1e1e1;
        }

        /*tamaño de las celdas ancho-alto*/
        .size, .cell1, .cell2, .cell3
        {
            width: 15px;
            height: 15px;
        }
        /*colores de las celdas*/
        .cell1
        {
            background-color: #22dd22;
            display: none;
        }
        .cell2
        {
            background-color: #dd2222;
            display: none;
        }
        .cell3
        {
            background-color: #2222dd;
            display: none;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
        <div class="uk-container uk-container-center">
            <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                <div class="uk-width-1-1 uk-row-first">
                    <div class="uk-panel">
                        <div class="uk-cover-background uk-position-relative head-wrap" style="height: 290px; background-image: url('{{ asset('images/head-bg.jpg') }}');">
                            <img class="uk-invisible" src="{{ asset('images/head-bg.jpg') }}" alt="" height="290" width="1920">
                            <div class="uk-position-cover uk-flex uk-flex-center head-title">
                                <h1>Pronosticos</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="uk-container uk-container-center alt">
        <ul class="uk-breadcrumb">
            <li class="uk-active">
                <span>Pronosticos</span>
            </li>
        </ul>
    </div>
{#    <div id="contenedorBarra1">#}
{#    </div>#}
{#    <br />#}
{#    <div id="contenedorBarra2">#}
{#    </div>#}
{#    <br />#}
{#    <div id="contenedorBarra3">#}
{#    </div>#}

    <table class="table table-responsive text-center" width="100%">
        <thead class="table-dark">
        <tr>
            <th colspan="8">Pronosticos de Juegos</th>
        </tr>
        </thead>
        <tbody>
        {% for clashes in gamesnexts %}
{#            {% set locals = gamesResultsRepository.percentageToWin(clashes.teamLocal.id, journey1, 1) %}#}
{#            {% set visitors = gamesResultsRepository.percentageToWin(clashes.teamVisitor.id, journey1, 1) %}#}
{#            {% set local = locals.percentage %}#}
{#            {% set visitor = visitors.percentage %}#}
{#            {% set local = local + 10 %}#}
{#            {% if visitors.effiV >= 50 %}#}
{#                {% set effiv = (visitor.effiv * 10) / 100 %}#}
{#                {% set visitor = visitor + effiv %}#}
{#            {% endif %}#}
{#            {% set total = local + visitor %}#}
{#            {% set perLocal = (local * 100) / total %}#}
{#            {% set perVisitor = (visitor * 100) / total %}#}
{#            {% set dif = perLocal - perVisitor %}#}
{#            {% set tdif = dif|abs %}#}
{#            {% if tdif == 0 %}#}
{#                {% set again = 0 %}#}
{#            {% else %}#}
{#                {% set again = ( tdif * 100)/40 %}#}
{#            {% endif %}#}
{#            {% set again = (again + 100) - (again + again) %}#}
                <tr>
                    <td width="50px">
                        <img src="{{ asset(clashes.teamLocal.logo, 'logos') }}" class="img-polaroid" alt="" title="">
                    </td>
                    <td>
                        {{ clashes.teamLocal.name }}
                    </td>
                    <td>
{#                        <p><span class="count" data-value="{{ perLocal }}">{{ perLocal|number_format(2, '.', ',') }} %</span>%</p>#}
{#                        <div class="progress">#}
{#                            <div class="progress-bar bg-info" role="progressbar" data-value="{{ perLocal }}" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                        </div>#}
                    </td>
                    <td>
{#                    {% if tdif < 11 %}#}
{#                        Empate#}
{#                        <p><span class="count" data-value="{{ again }}">{{ again|number_format(2, '.', ',') }}%</span>%</p>#}
{#                        <div class="progress">#}
{#                            <div class="progress-bar bg-info" role="progressbar" data-value="{{ again }}" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                        </div>#}
{#                    {% endif %}#}
                    </td>
                    <td>
                        <p><span class="count" data-value="{{ perVisitor }}">{{ perVisitor|number_format(2, '.', ',') }}%</span>%</p>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value="{{ perVisitor }}" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td>
                        {{ clashes.teamVisitor.name }}
                    </td>
                    <td width="50px">
                        <img src="{{ asset(clashes.teamVisitor.logo, 'logos') }}" class="img-polaroid" alt="" title="">
                    </td>
                    <td>
                        <a href="{{ path('show_picks', {'id': clashes.id}) }}" class="btn btn-sm btn-outline-info ">Ver más</a>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    <script>
        $(window).ready(function () {
            $('.progress-bar').each(function () {
                $(this).prop('Counter', 0).animate({
                    Counter: $(this).data('value')
                }, {
                    duration: 4000,
                    easing: 'swing',
                    step: function (now) {
                        $(this).css('width', this.Counter.toFixed(2)+'%');
                        $(this).attr('aria-valuenow', this.Counter.toFixed(2));
                        // $(this).text(this.Counter.toFixed(2)+'%');
                    }
                });
            });
            $('.count').each(function () {
                $(this).prop('Counter', 0).animate({
                    Counter: $(this).data('value')
                }, {
                    duration: 4000,
                    easing: 'swing',
                    step: function (now) {
                        $(this).text(this.Counter.toFixed(2));
                    }
                });
            });
            // var bar1 = new ProgressBar("contenedorBarra1", 10,
            //     "progressTable", "cell1", "size");
            // bar1.Start();
            //
            // var bar2 = new ProgressBar("contenedorBarra2", 16,
            //     "progressTable", "cell2", "size");
            // bar2.Start();
            //
            // var bar3 = new ProgressBar("contenedorBarra3", 8,
            //     "progressTable", "cell3", "size");
            // bar3.Start();
        });
        var ProgressBar = function(divId, cellCount, tableCss, cellCss, sizeCss)
        {
            var index = -1;
            var timerObj = new Timer();

            this.Init = function()
            {
                var str = "<table class='" + tableCss + "' cellpadding='0' cellspacing='1'><tr>";
                for(var cnt=0; cnt<cellCount; cnt++)
                {
                    str += "<td class='" + sizeCss + "'><div class='"
                        + cellCss + " " + cellCss + cnt + "'></div></td>";
                }
                str += "</tr></table>";
                $("#" + divId).append(str);

                timerObj.Interval = 100;
                timerObj.Tick = timer_tick;
            }

            this.Start = function()
            {
                this.Init();
                timerObj.Start();
            }

            function timer_tick()
            {
                //debugger;
                index = index + 1;
                index = index % cellCount;

                $("#" + divId + " ." + cellCss + index).fadeIn(10);
                $("#" + divId + " ." + cellCss + index).fadeOut(500);
            }
        }

        // Declaring class "Timer"
        var Timer = function()
        {
            // Property: Frequency of elapse event of the timer in millisecond
            this.Interval = 1000;

            // Property: Whether the timer is enable or not
            this.Enable = new Boolean(false);

            // Event: Timer tick
            this.Tick;

            // Member variable: Hold interval id of the timer
            var timerId = 0;

            // Member variable: Hold instance of this class
            var thisObject;

            // Function: Start the timer
            this.Start = function()
            {
                this.Enable = new Boolean(true);

                thisObject = this;
                if (thisObject.Enable)
                {
                    thisObject.timerId = setInterval(
                        function()
                        {
                            thisObject.Tick();
                        }, thisObject.Interval);
                }
            };

            // Function: Stops the timer
            this.Stop = function()
            {
                thisObject.Enable = new Boolean(false);
                clearInterval(thisObject.timerId);
            };

        };
    </script>
{% endblock %}
{#{{ clashes.date|date('F d, Y')|replace({#}
{#    'January'  : 'Ene',#}
{#    'February'  : 'Feb',#}
{#    'March'  : 'Mar',#}
{#    'April'  : 'Abr',#}
{#    'May'  : 'May',#}
{#    'June'  : 'Jun',#}
{#    'July'  : 'Jul',#}
{#    'August'  : 'Ago',#}
{#    'September'  : 'Sep',#}
{#    'October'  : 'Oct',#}
{#    'November'  : 'Nov',#}
{#    'December' : 'Dic',#}
{#}) }} | {{ clashes.date|date('g:i a') }}#}
