{% extends 'layouts/base.html.twig' %}

{% block title %}Pronosticos de {{ calendars }}{% endblock %}

{% block body %}
    <div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
        <div class="uk-container uk-container-center">
            <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                <div class="uk-width-1-1 uk-row-first">
                    <div class="uk-panel">
                        <div class="uk-cover-background uk-position-relative head-wrap" style="height: 290px; background-image: url('{{ asset('images/head-bg.jpg') }}');">
                            <img class="uk-invisible" src="{{ asset('images/head-bg.jpg') }}" alt="" height="290" width="1920">
                            <div class="uk-position-cover uk-flex uk-flex-center head-title">
                                <h1>Pronosticos de {{ calendars }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="uk-container uk-container-center alt">
        <ul class="uk-breadcrumb">
            <li class="uk-active">
                <span>Pronosticos de {{ calendars }}</span>
            </li>
        </ul>
    </div>
    {% set agtl = 0.0 %}
    {% set agtv = 0.0 %}
    {% set efltl = 0.0 %}
    {% set efvtl = 0.0 %}
    {% set efltv = 0.0 %}
    {% set efvtv = 0.0 %}
    {% set perWinl = 0 %}
    {% set perWinv = 0 %}
    {% set agtl1 = 0 %}
    {% set agtl2 = 0 %}
    {% set agtv1 = 0 %}
    {% set agtv2 = 0 %}
    {% set pggl = 0 %}
    {% set pggv = 0 %}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}
{#    {% set agtl = 0 %}#}

    {% set efltl = statisticsTeamLocal.percentageefficencyLocal %}
    {% set efvtl = statisticsTeamLocal.percentageefficencyVisitor %}
    {% set agtl = statisticsTeamLocal.averageGoalsGame %}
    {% set efltv = statisticsTeamVisitor.percentageefficencyLocal %}
    {% set efvtv = statisticsTeamVisitor.percentageefficencyVisitor %}
    {% set agtv = statisticsTeamVisitor.averageGoalsGame %}
    {% set perWinl = averageWinLocal.percentage %}
    {% set perWinv = averageWinVisitor.percentage %}
    {% set agtl1 = statisticsTeamLocal.averagegoals1 %}
    {% set agtl2 = statisticsTeamLocal.averagegoals2 %}
    {% set agtv1 = statisticsTeamVisitor.averagegoals1 %}
    {% set agtv2 = statisticsTeamVisitor.averagegoals2 %}
    {% set pggl = statisticsTeamLocal.averageGoalsGame %}
    {% set pggv = statisticsTeamVisitor.averageGoalsGame %}

    <div class="container border rounded mb-lg-5 mb-0">
        <div class="row d-flex align-items-center justify-content-center text-center">
            <div class="col-4">
                <img src="{{ asset(calendars.TeamLocal.logo, 'logos') }}" alt="">
                <h1 class="text-center">{{ calendars.TeamLocal }}</h1>
            </div>
            <div class="col-4">
                <h1 class="display-1">VS</h1>
            </div>
            <div class="col-4">
                <img src="{{ asset(calendars.TeamVisitor.logo, 'logos') }}" alt="">
                <h1 class="text-center">{{ calendars.TeamVisitor }}</h1>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            {% set perGoalHome = 0 %}
            {% set perGoalVisitor = 0 %}
            {% if agtl >= 1 %}
                {% set perGoalHome = 100 %}
            {% else %}
                {% set perGoalHome = agtl * 100 %}
            {% endif %}
            {% if agtv >= 1 %}
                {% set perGoalVisitor = 100 %}
                {% else %}
                    {% set perGoalVisitor = agtv * 100 %}
            {% endif %}
            {% if agtl >= 1 and agtv >= 1 %}
                {% set teamHomeWinTwoscoreTrue = (efltl - efvtv + perGoalHome + perGoalVisitor) / 4  %}
                {% else %}
                    {% set teamHomeWinTwoscoreTrue = (efltl - efvtv - perGoalHome - perGoalVisitor) / 4  %}
            {% endif %}
            {% set teamHomeWinTwoscoreTrue = teamHomeWinTwoscoreTrue|abs %}
            {% set teamHomeWinTwoscoreFalse = 100 - teamHomeWinTwoscoreTrue %}
            <h1>Equipo Local ganará y ambos equipos marcarán</h1>
            <h4 class="text-success"> Formula ((Eficiencia como equipo local - Eficiencia como equipo visitante + Promedio de goles del equipo local + Promedio de goles del equipo visitante ) / 4)</h4>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h1>SI</h1>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value={{ teamHomeWinTwoscoreTrue }} style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h1>No</h1>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value="{{ teamHomeWinTwoscoreFalse }}" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            {% set perWinl = perWinl + 10 %}
            {% if averageWinVisitor.effiV >= 50 %}
                {% set effiv = (averageWinVisitor.effiv * 10) / 100 %}
                {% set perWinv = averageWinVisitor + effiv %}
            {% endif %}
            {% set total = perWinl + perWinv %}
            {% set perLocal = (perWinl * 100) / total %}
            {% set perVisitor = (perWinv * 100) / total %}
            {% set dif = perLocal - perVisitor %}
            {% set tdif = dif|abs %}
            {% if tdif == 0 %}
                {% set again = 0 %}
            {% else %}
                {% set again = ( tdif * 100)/40 %}
            {% endif %}
            {% if agtl >= 1 and agtv >= 1 %}
                {% set again = (again + 100) - (again + again) %}
                {% if again < 50 %}
                    {% if agtl >= 1 %}
                        {% set perGoalHome = 50 %}
                    {% else %}
                        {% set perGoalHome = agtl * 50 %}
                    {% endif %}
                    {% if agtv >= 1 %}
                        {% set perGoalVisitor = 50 %}
                    {% else %}
                        {% set perGoalVisitor = agtv * 50 %}
                    {% endif %}
                    {% set againWinTwoscoreTrue = (again + perGoalHome + perGoalVisitor) / 3  %}
                {% else %}
                    {% set againWinTwoscoreTrue = (again + perGoalHome + perGoalVisitor) / 3  %}
                {% endif %}
            {% else %}
                {% set again = again|abs %}
                {% set againWinTwoscoreTrue = (again + perGoalHome + perGoalVisitor) / 3  %}
                {% set againWinTwoscoreTrue = againWinTwoscoreTrue|abs %}
            {% endif %}
            {% set againWinTwoscoreFalse = 100 - againWinTwoscoreTrue %}
            <div class="col-12">
                <h1>Empate ambos equipos marcarán</h1>
                <h5 class="text-success">Formula ((Porcentaje de Empate  + Promedio de goles del equipo local + Promedio de goles del equipo visitante) / 3)</h5>
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h1>SI</h1>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value={{ againWinTwoscoreTrue }} style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h1>No</h1>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value="{{ againWinTwoscoreFalse }}" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            {% set perGoalHome = 0 %}
            {% set perGoalVisitor = 0 %}
            {% if agtl >= 1 %}
                {% set perGoalHome = 100 %}
            {% else %}
                {% set perGoalHome = agtl * 100 %}
            {% endif %}
            {% if agtv >= 1 %}
                {% set perGoalVisitor = 100 %}
            {% else %}
                {% set perGoalVisitor = agtv * 100 %}
            {% endif %}
            {% if agtl >= 1 and agtv >= 1 %}
                {% set teamLocalWinTwoscoreTrue = (efvtv - efltl + perGoalHome + perGoalVisitor) / 4  %}
            {% else %}
                {% set teamLocalWinTwoscoreTrue = (efvtv - efltl - perGoalHome - perGoalVisitor) / 4  %}
            {% endif %}
            {% set teamLocalWinTwoscoreTrue = teamHomeWinTwoscoreTrue|abs %}
            {% set teamLocalWinTwoscoreFalse = 100 - teamLocalWinTwoscoreTrue %}
            <h1>Equipo Visitante ganará y ambos equipos marcarán</h1>
            <h4 class="text-success"> Formula ((Eficiencia como equipo visitante - Eficiencia como equipo local + Promedio de goles del equipo local + Promedio de goles del equipo visitante ) / 4)</h4>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h1>SI</h1>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value={{ teamLocalWinTwoscoreTrue }} style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h1>No</h1>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value="{{ teamLocalWinTwoscoreFalse }}" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            {% set percentageScoreTwoLocalTrue = 0 %}
            {% if agtl1 >= 1 and agtl2 >=1 %}
                {% set percentageScoreTwoLocalTrue = 100 %}
            {% else %}
                {% if agtl1 >= 1 %}
                    {% set percentageScoreTwoLocalTrue = ((1 + agtl2) / 2) * 100 %}
                {% elseif agtl2 >= 1 %}
                    {% set percentageScoreTwoLocalTrue = ((agtl1 + 1) / 2) * 100 %}
                {% else %}
                    {% set percentageScoreTwoLocalTrue = ((agtl1 + agtl2) / 2) * 100 %}
                {% endif %}
            {% endif %}
            {% set percentageScoreTwoLocalFalse = 100 - percentageScoreTwoLocalTrue %}
            {{ agtl1 }}
            {{ agtl2 }}
            <div class="col-12">
                <h1>Equipo Local marcará en las dos Partes</h1>
                <h4 class="text-success"> Formula ((Eficiencia como equipo local +  Promedio de goles del equipo local por primer tiempo + Promedio de goles del equipo local por segundo tiempo - promedio de goles recibidos del equipo visitante en el primer tiempo - promedio de goles recibidos del equipo visitante en el primer tiempo ) / 2)</h4>
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h1>SI</h1>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value={{ percentageScoreTwoLocalTrue }} style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h1>No</h1>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value="{{ percentageScoreTwoLocalFalse }}" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            {% set percentageScoreTwoVisitorTrue = 0 %}
            {% if agtv1 >= 1 and agtv2 >=1 %}
                {% set percentageScoreTwoVisitorTrue = 100 %}
            {% else %}
                {% if agtv1 >= 1 %}
                    {% set percentageScoreTwoVisitorTrue = ((1 + agtv2) / 2) * 100 %}
                {% elseif agtv2 >= 1 %}
                    {% set percentageScoreTwoVisitorTrue = ((agtv1 + 1) / 2) * 100 %}
                {% else %}
                    {% set percentageScoreTwoVisitorTrue = ((agtv1 + agtv2) / 2) * 100 %}
                {% endif %}
            {% endif %}
            {% set percentageScoreTwoVisitorFalse = 100 - percentageScoreTwoVisitorTrue %}
            {{ agtv1 }}
            {{ agtv2 }}
            <div class="col-12">
                <h1>Equipo Visitante marcará en las dos Partes</h1>
                <h4 class="text-success"> Formula ((Eficiencia como equipo visitante +  Promedio de goles del equipo visitante por primer tiempo + Promedio de goles del equipo visitante por segundo tiempo - promedio de goles recibidos del equipo local en el primer tiempo - promedio de goles recibidos del equipo local en el primer tiempo ) / 2)</h4>
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h1>SI</h1>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value={{ percentageScoreTwoVisitorTrue }} style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h1>No</h1>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value="{{ percentageScoreTwoVisitorFalse }}" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            {% set percentageScoreTwoTrue = 0 %}
            {% if agtl1 >= 1 and agtl2 >=1 %}
                {% set percentageScoreTwoVisitorTrue = 100 %}
            {% elseif agtv1 >= 1 and agtv2 >=1 %}
                {% set percentageScoreTwoVisitorTrue = 100 %}
            {% else %}
                {% set aagtl = ((agtl1 + agtl2) / 2) * 100 %}
                {% set aagtv = ((agtv1 + agtv2) / 2) * 100 %}
                {% if aagtl > aagtv %}
                    {% set paagtl = (aagtl * 75 )/ 100 %}
                    {% set paagtv = (aagtv * 25 )/ 100 %}
                {% else %}
                    {% set paagtl = (aagtl * 75 )/ 100 %}
                    {% set paagtv = (aagtv * 25 )/ 100 %}
                {% endif %}
                {% set percentageScoreTwoTrue = paagtl + paagtv %}
            {% endif %}
            {% set percentageScoreTwoFalse = 100 - percentageScoreTwoTrue %}
            <div class="col-12">
                <h1>Gol en Ambas Mitades</h1>
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h1>SI</h1>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value={{ percentageScoreTwoTrue }} style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h1>No</h1>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value="{{ percentageScoreTwoFalse }}" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            {% set perWinl = perWinl + 10 %}
            {% if averageWinVisitor.effiV >= 50 %}
                {% set effiv = (averageWinVisitor.effiv * 10) / 100 %}
                {% set perWinv = averageWinVisitor + effiv %}
            {% endif %}
            {% set total1 = perWinl + perWinv %}
            {% set perLocal1 = (perWinl * 100) / total1 %}
            {% set perVisitor1 = (perWinv * 100) / total1 %}
            {% set dif1 = perLocal1 - perVisitor1 %}
            {% set tdif1 = dif1|abs %}
            {% if tdif1 == 0 %}
                {% set again1 = 0 %}
            {% else %}
                {% set again1 = ( tdif1 * 100)/40 %}
            {% endif %}
            {% set again1 = again1|abs %}
            <div class="col-12">
                <h1>Final del partido</h1>
{#                <h4 class="text-success"> Formula ((Eficiencia como equipo visitante +  Promedio de goles del equipo visitante por primer tiempo + Promedio de goles del equipo visitante por segundo tiempo - promedio de goles recibidos del equipo local en el primer tiempo - promedio de goles recibidos del equipo local en el primer tiempo ) / 2)</h4>#}
            </div>
            <div class="col-4">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h5>{{ calendars.TeamLocal }}</h5>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value={{ perLocal1 }} style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h5>Empate</h5>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value={{ again1 }} style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h5>{{ calendars.TeamVisitor }}</h5>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value="{{ perVisitor1 }}" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            {% set totalpgg = pggl + pggv %}
{#            {% set totalpgg = 3.6 %}#}
            {% if totalpgg >= 3.5 %}
                {% set totalpgg = totalpgg - 1 %}
                {% set percentagegoalsforgametrue = ( totalpgg * 100) / 3.5 %}
                {% set percentagegoalsforgamefalse = 100 - percentagegoalsforgametrue %}
                {% set percentagegoalsforgamefalse = percentagegoalsforgamefalse|abs %}
            {% else %}
                {% set percentagegoalsforgamefalse = ( totalpgg * 100) / 3.5 %}
                {% set percentagegoalsforgametrue = 100 - percentagegoalsforgamefalse %}
                {% set percentagegoalsforgametrue = percentagegoalsforgametrue|abs %}
            {% endif %}
            <div class="col-12">
                <h1>Total de Goles</h1>
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h3>Mas de 3.5</h3>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value={{ percentagegoalsforgametrue }} style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h3>Menos de 3.5</h3>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value="{{ percentagegoalsforgamefalse }}" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            {% if pggl > 1 %}
                {% if pggv > 1 %}
                    {% set percentagetwoscoretrue = 90 %}
                {% else %}
                    {% set percentagetwoscoretrue = ( 1 + pggv) / 2 %}
                {% endif %}
            {% else %}
                {% if pggv > 1 %}
                    {% set percentagetwoscoretrue = ( pggl + 1) / 2 %}
                {% else %}
                    {% set percentagetwoscoretrue = ( pggl + pggv) / 2 %}
                {% endif %}
            {% endif %}
            {% set percentagetwoscorefalse = 100 - percentagetwoscoretrue %}
            {% set percentagetwoscorefalse = percentagetwoscorefalse|abs %}
            <div class="col-12">
                <h1>Ambos equipos marcaran</h1>
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h1>SI</h1>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value={{ percentagetwoscoretrue }} style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h1>No</h1>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value="{{ percentagetwoscorefalse }}" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-12">
                <h1>Doble Oportunidad</h1>
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h3>Victoria</h3>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value={{ perWinl }} style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-center">
                    <div class="col-2">
                        <h3>Empate</h3>
                    </div>
                    <div class="col-10">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" data-value="{{ again1 }}" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(window).ready(function () {
            $('.progress-bar').each(function () {
                $(this).prop('Counter', 0).animate({
                    Counter: $(this).data('value')
                }, {
                    duration: 4000,
                    easing: 'swing',
                    step: function (now) {
                        $(this).css('width', this.Counter.toFixed(2)+'%');
                        $(this).attr('aria-valuenow', this.Counter.toFixed(2));
                        $(this).text(this.Counter.toFixed(2)+'%');
                    }
                });
            });
        });
    </script>
{% endblock %}
