{% extends '@EasyAdmin/default/new.html.twig' %}
{% block _product_custom_title_widget %}

    {{ dump(form) }} //Recomiedno usar el dump para mira como es la estructura del formulario

    {% block entity_form %}

{#        {% set children = form.children %}#}

        <tableborder="1">

        <tr style="background-color: #dadada;"><td style="width:120px;"align="center">ID</td>
            <td style="width:120px;"style="width:100px;"align="center">NOMBRE</td>
            <td style="width:120px;"align="center">SELECCIONE</td>
        </tr>

{#        {% for key, value in children %}#}

{#            <tr><tdalign="center">{{key}}</td><tdalign="center">{{value.vars.label}}</td><tdalign="center"><inputid="product_availabilityId_{{key}}"name="product[availabilityId][]"value="{{key}}"type="checkbox"></td></tr>#}
{#            //es importante marcara las ids como las del formulario original, esto puedes verlo con el dump#}
{#        {% endfor %}#}

        </table>

    {% endblock entity_form %}

    {{ dump() }}//Con este dump podremos ver todos los elementos del DOM

{% endblock %}