{% extends 'layouts/base-auth.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
    <div class="form-body text-white">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <div class="website-logo-inside">
                            <a href="{{ path('app_index') }}">
                                <div class="">
                                    <img class="logo-size" src="{{ asset('images/logohappy.png') }}" alt="logohappy.png">
                                </div>
                            </a>
{#                            <div class="alert alert-danger">#}
{#                            {% for error in errors %}#}
{#                                <li>{{ error.message }}</li>#}
{#                            {% endfor %}#}
{#                            </div>#}
                            {% if app.user %}
                                <div class="mb-3 text-white">
                                    Ya iniciaste sesión como {{ app.user.username }}, <br> ¿Deseas <a href="{{ path('app_logout') }}">cerrar sesión</a>?
                                </div>
                            {% endif %}
                        </div>
                        {#                        <h3>.</h3>#}
                        <p>Acceso a la herramienta más poderosa de estadisticas del deporte.</p>
                        <div class="page-links">
                            <a href="{{ path('app_login') }}">Entrar</a><a href="{{ path('app_register') }}" class="active">Registro</a>
                        </div>
                        <div id="errors"></div>
                        {{ include('user/_form.html.twig') }}
{#                        <form action="{{ path('app_register_validation') }}" method="post">#}
{#                            <input class="form-control" type="text" name="username" placeholder="Usuario" required>#}
{#                            <input class="form-control" type="text" name="name" placeholder="Nombre Completo" required>#}
{#                            <input class="form-control" type="email" name="email" placeholder="Correo Electronico" required>#}
{#                            <input class="form-control" type="password" name="password" placeholder="Contraseña" required>#}
{#                            <div class="form-button">#}
{#                                <button id="submit" type="submit" class="ibtn">Registro</button>#}
{#                            </div>#}
{#                        </form>#}
                        <div class="other-links">
                            <span>O registrate con</span><a href="#">Facebook</a><a href="#">Google</a><a href="#">Linkedin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(window).ready(function () {
            var errors = $("#errors");
            var btn = $("#submit");
            btn.prop("disabled", true);
            $("#register_username").keyup(function () {
                var username = $(this).val();
                var url = "{{ path('app_validation_username', {'username': 'username1'}) }}";
                url = url.replace("username1", username);
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: username,
                    success: function (data) {
                        errors.html(data);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });
        });
    </script>
{% endblock %}
