{% if username %}
    <div class="alert alert-danger">
        <p class="text-white">Usuario "{{ username.username }}" ya no esta disponible intenta con otro</p>
    </div>
    {% else %}
    <div class="alert alert-success">
        <p class="text-white">¡Usuario disponible!</p>
    </div>
{% endif %}
